// Bg-image

// Placeholder that is used to set size of element background image to cover.

// Markup:
// .test {
//   @extend %bg-image;
// }

// Output:
// .test {
//   background: {
//     size: cover;
//     position: center;
//     repeat: no-repeat;
//   }
// }

%bg-image {
  background: {
    size: cover;
    position: center;
    repeat: no-repeat;
  }
}
