// Button-reset

// Placeholder that is used to reset browser default styles.

// Markup:
// .test {
//   @extend %button-reset;
// }

// Output:
// .test {
//   padding: 0;
//   border: 0;
//   appearance: none;
//   font-family: inherit;
//   &:focus {
//     outline: none;
//   }
// }

%button-reset {
  padding: 0;
  border: 0;
  appearance: none;
  font-family: inherit;

  &:focus {
    outline: none;
  }
}
