// Clearfix

// Placeholder that is used to add clearfix after floating divs.

// Markup:
// .test {
//   @extend %clearfix;
// }

// Output:
// .test {
//   &::after {
//     content: '';
//     display: table;
//     clear: both;
//   }
// }

%clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
