// Input-reset

// Placeholder that is used to reset browser default styles for inputs.

// Markup:
// .test {
//   @extend %input-reset;
// }

// Output:
// .test {
//   padding: 0;
//   border: none;
//   appearance: none;
// }

%input-reset {
  padding: 0;
  border: none;
  appearance: none;
}
