$carousel-navigation: (
	spacing: 40px,
);

.carousel-navigation {
	&__arrow-item {
		position: absolute;
		margin: 0;
		top: 0;
		transition: {
			property: background-color;
			timing-function: ease-in;
			duration: 0.3s;
		}
		cursor: pointer;

		&--prev {
			left: 0;
		}

		&--next {
			right: 0;
		}
	}

	&__arrow-icon {
		display: block;
	}
}
