// Define Base Text Color;
$base-text-color: #333333 !default;

// Define Base Background Color.
$base-background-color: #FFFFFF !default;

// Define Base Black Color.
$base-black-color: #000000 !default;

// Define Base White Color.
$base-white-color: #FFFFFF !default;

// Define Base Primary Color.
$base-primary-color: #C3151B !default;
