// Define Base Columns Number.
$base-col-number: 12 !default;

// Define Base Gutter Size.
$base-gutter-size: 15px !default;

// Define Base Font Size.
$base-font-size: 18px !default;

// Define Base Font Family.
$base-font-family: 'Open Sans', Arial, sans-serif !default;
