@import './../../node_modules/@wordpress/base-styles/animations';
@import './../../node_modules/@wordpress/base-styles/breakpoints';
@import './../../node_modules/@wordpress/base-styles/colors';
@import './../../node_modules/@wordpress/base-styles/mixins';
@import './../../node_modules/@wordpress/base-styles/variables';
@import './../../node_modules/@wordpress/base-styles/z-index';

// WP styles.
@import './../../node_modules/@wordpress/editor/src/editor-styles.scss';
@import './../../node_modules/@wordpress/components/src/style.scss';
@import './../../node_modules/@wordpress/block-editor/src/style.scss';
@import './../../node_modules/@wordpress/format-library/src/style.scss';

// Playground styles.

.playground {
  @include break-small() {
    width: calc(100% - #{$sidebar-width});
  }
  padding-top: 20px;
  padding-bottom: 20px;
}

.playground__sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: $sidebar-width;
  border-left: $border-width solid $light-gray-500;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  // Temporarily disable the sidebar on mobile
  display: none;

  @include break-small() {
    display: block;
  }
}
