$block-tabs-item-content: (
  typo: (
    mobile: (
      font-size: 24px,
      line-height: 1.33,
    ),
  ),
  default: (
    color: $base-white-color,
  ),
  active: (
    color: $base-primary-color,
  ),
);


.block-tabs-item-content {
  &__content {
    @include responsive($block-tabs-item-content, typo);
    border-bottom: 1px solid map-get-deep($block-tabs-item-content, default, color);
    padding: 20px 40px 20px 0;
    font-weight: bold;
    display: block;
    position: relative;

    transition: {
      property: border-color;
      timing-function: ease-in;
      duration: 0.3s;
    }

    &.is-active {
      border-bottom-color: map-get-deep($block-tabs-item-content, active, color);
    }
  }
}
