// stylelint-disable declaration-no-important

.es-icon-toggle-checkbox {
	.components-base-control__field {
		display: flex;
		flex-direction: row-reverse;

		align-items: center;
		justify-content: space-between;

		margin: 0 !important;
	}

	> .components-base-control__field {
		margin: 0 !important;
	}

	.components-toggle-control__label,
	.components-checkbox-control__label {
		margin: 0 0.5rem 0 0 !important;
	}

	.components-checkbox-control__input-container,
	.components-form-toggle {
		margin-right: 0 !important;
	}

	&--with-help {
		.components-base-control__field {
			margin: 0 0 0.25rem !important;
		}
	}
}

// WP 6.1 fixes
body.branch-6-1 {
	.es-icon-toggle-checkbox {
		.components-h-stack {
			flex-direction: row-reverse !important;
			align-items: center !important;
			justify-content: space-between !important;
		}
	}
}

// stylelint-enable declaration-no-important
