// stylelint-disable declaration-no-important

.es-icon-toggle {
	display: flex;
	align-items: center;
	gap: 0.45rem;

	&:not(:last-of-type) {
		margin-bottom: 1rem;
	}

	&--reverse {
		.components-base-control__field {
			flex-direction: row-reverse;
			gap: 0.5rem;

			label {
				margin-right: auto;
			}

			.components-form-toggle {
				margin-right: 0 !important;
			}
		}

		.components-base-control__help {
			margin-top: 0.2rem;
			margin-bottom: 0 !important;
			padding-right: 3rem;
		}
	}

	svg {
		height: 1.5rem;
		width: 1.5rem;
		color: var(--wp-admin-theme-color, #007CBA);
		flex-shrink: 0;
	}

	.components-base-control.components-toggle-control {
		margin-bottom: 0;
		width: 100%;

		.components-base-control__field {
			margin-bottom: 0;
		}
	}
}

// With help passed.
.es-icon-toggle.es-icon-toggle--reverse.has-help {
	align-items: flex-start;

	svg {
		transform: translateY(-0.2rem) !important;
	}
}

// stylelint-enable declaration-no-important
