// stylelint-disable declaration-no-important

.es-simple-v-single-select {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0.125rem;

	border-radius: 5px;
	border: 1px solid var(--es-admin-gray-400);

	.components-button {
		@include es-v2-gutenberg-button-active-state;
		border-radius: 3px !important;
	}
}

// stylelint-enable declaration-no-important
