<?xml version="1.0"?>
<ruleset name="Eightshift Library">
	<description>Eightshift Library uses extended WordPress coding standards with some minor corrections.</description>

	<rule ref="Eightshift"/>

	<exclude-pattern>*/tests/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/src/commands/templates/*</exclude-pattern>

	<!-- Additional arguments. -->
	<arg value="sp"/>
	<arg name="basepath" value="."/>
	<arg name="parallel" value="8"/>
	<arg name="cache"/>
	<arg name="extensions" value="php"/>

	<file>.</file>

	<exclude-pattern>/src/CompiledContainer\.php</exclude-pattern>

	<rule ref="WordPress.PHP.DiscouragedPHPFunctions.system_calls_system">
		<exclude-pattern>*/src/**/*Cli</exclude-pattern>
	</rule>

	<rule ref="WordPress.WP.AlternativeFunctions.file_get_contents_file_get_contents">
		<exclude-pattern>*/src/**/*Cli</exclude-pattern>
	</rule>

	<rule ref="WordPress.PHP.DiscouragedPHPFunctions.system_calls_shell_exec">
		<exclude-pattern>*/src/Db/*</exclude-pattern>
		<exclude-pattern>*/src/Build/*</exclude-pattern>
		<exclude-pattern>*/cliOutput/bin/Build.php</exclude-pattern>
		<exclude-pattern>*/src/LintPhp/LintPhpCli.php</exclude-pattern>
	</rule>

	<rule ref="WordPress.WP.AlternativeFunctions.file_system_read_fopen">
		<exclude-pattern>*/src/Cli/*</exclude-pattern>
	</rule>

	<rule ref="WordPress.WP.AlternativeFunctions.file_system_read_fwrite">
		<exclude-pattern>*/src/Cli/*</exclude-pattern>
	</rule>

	<rule ref="WordPress.WP.AlternativeFunctions.file_system_read_fclose">
		<exclude-pattern>*/src/Cli/*</exclude-pattern>
	</rule>

	<rule ref="Generic.Files.LineLength">
		<exclude name="Generic.Files.LineLength.TooLong"/>
	</rule>

	<rule ref="WordPress.WP.GlobalVariablesOverride">
		<exclude name="WordPress.WP.GlobalVariablesOverride.Prohibited"/>
	</rule>
</ruleset>
