:root {
	--global-font-family: 'IBMPlexSans', sans-serif;
	--global-font-family-alternative: 'MarkPro', monospace;
	--global-block-family-code: 'IBMPlexMono', monospace;

	--global-gutter: 25px;

	--global-colors-charade:  #282A36;
	--global-colors-elephant: #0C3636;
	--global-colors-cape:     #4B5555;
	--global-colors-mandy:    #E84E4E;
	--global-colors-cararra:  #F4F3F0;
	--global-colors-white:    #FFFFFF;

	--global-font-size-big: 48px;
	--global-font-size-larger: 32px;
	--global-font-size-large: 24px;
	--global-font-size-default: 18px;
	--global-font-size-medium: 16px;
	--global-font-size-small: 14px;

	--global-border-radius: 6px;
	
	--global-sidebar-width: 300px;
	--global-docs-top-spacing: 30px;
}

@font-face {
	font-display: swap;
	font-family: MarkPro;
	font-style: normal;
	font-weight: 400;
	src: url('MarkPro.woff2') format('woff2'),url('MarkPro.woff') format('woff')
}

@font-face {
	font-display: swap;
	font-family: IBMPlexSans;
	font-style: normal;
	font-weight: 600;
	src: url('IBMPlexSans-SemiBold.woff2') format('woff2'),url('IBMPlexSans-SemiBold.woff') format('woff')
}

@font-face {
	font-display: swap;
	font-family: IBMPlexSans;
	font-style: normal;
	font-weight: 500;
	src: url('IBMPlexSans-Medium.woff2') format('woff2'),url('IBMPlexSans-Medium.woff') format('woff')
}

@font-face {
	font-display: swap;
	font-family: IBMPlexSans;
	font-style: italic;
	font-weight: 300;
	src: url('IBMPlexSans-LightItalic.woff2') format('woff2'),url('IBMPlexSans-LightItalic.woff') format('woff')
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	background-color: var(--global-colors-white);
	color: var(--global-colors-elephant);
	font-family: var(--global-font-family);
	font-size: var(--global-font-size-default);
	margin: 0;
	padding: 0;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (min-width: 992px) {
	body {
		display: flex;
	}
}

a {
	color: var(--global-colors-elephant);
	text-decoration: none;
}

a:hover,
.sidebar a:hover {
	color: var(--global-colors-mandy);
	transition-property: color;
	transition-timing-function: ease-out;
	transition-duration: 0.3s;
}

.sidebar {
	display: none;
}

@media (min-width: 992px) {
	.sidebar {
		display: block;
		position: fixed;
		width: 100%;
		max-width: var(--global-sidebar-width);
		height: 100%;
		overflow-x: hidden;
		padding-left: var(--global-gutter);
		background-color: var(--global-colors-cararra);
	}
}

.sidebar__body {
	padding-top: var(--global-docs-top-spacing);
	padding-bottom: var(--global-docs-top-spacing);
	padding-right: var(--global-gutter);
}

.sidebar__header,
.btn-toggle,
.sidebar__item--heading,
.header,
.main__heading,
.main__heading--secondary,
.footer {
	display: none;
}

.sidebar__item--sub-heading {
	margin: 0;
	padding: 10px 0;
}

.sidebar__item--sub-heading a {
	color: var(--global-colors-elephant);
	font-size: 18px;
	font-weight: 700;
	font-family: var(--global-font-family-alternative);
	text-transform: capitalize;
}

.sidebar .list-unstyled {
	list-style: none;
	margin: 0.25rem 0;
	padding: 0 0 0 var(--global-gutter);
}

.sassdoc__item a {
	color: var(--global-colors-cape);
	font-family: var(--global-font-family);
	font-size: 14px;
	font-weight: 500;
	letter-spacing: .4px;
	line-height: 1.43;
	padding: 10px 0;
	display: block;
	text-transform: capitalize;
}

.main {
	padding: var(--global-docs-top-spacing) var(--global-gutter) 0;
}

@media (min-width: 992px) {
	.main {
		padding-left: calc(var(--global-sidebar-width) + calc(var(--global-gutter) * 2));
		padding-right: calc(var(--global-gutter)*2);
		width: 100%;
		max-width: 100%;
	}
}

@media (min-width: 1500px) {
	.main {
		max-width: 70%;
	}
}

.item__heading {
	font-size: var(--font-size, var(--global-font-size-larger));
	line-height: var(--line-height, 1.2);
	font-family: var(--global-font-family-alternative);
	letter-spacing: -2px;
	color: var(--global-colors-elephant);
	margin-top: 0;
	margin-bottom: 20px;
	text-transform: capitalize;
}

@media (min-width: 768px) {
	.item__heading {
		font-size: var(--global-font-size-big);
		line-height: 1.13;
	}
}

.item__heading a {
	color: var(--global-colors-elephant);
	cursor: default;
}

.item__sub-heading,
#output {
	font-family: var(--global-font-family-alternative);
	letter-spacing: -2px;
	color: var(--global-colors-elephant);
	font-size: var(--font-size, var(--global-font-size-large));
	line-height: var(--line-height, 1.13);
	font-weight: 700;
	margin-bottom: 10px;
}

.item__example {
	margin-bottom: 20px;
}

pre {
	color: rgb(248, 248, 242);
	background-color: rgb(40, 42, 54);
	overflow: auto;
	margin: 0;
	border-radius: var(--global-border-radius);
	padding: 25px;
	margin-bottom: 15px;
}

code {
	background-color: var(--global-colors-charade);
	color: var(--global-colors-white);
	font-family: var(--global-block-family-code);
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	min-width: 100%;
	padding: 5px;
	border-radius: var(--global-border-radius);
}

.token.selector,
.token.keyword {
	color: rgb(255, 121, 198);
}

.token.function {
	color: rgb(80, 250, 123);
}

.token.variable {
	color: rgb(189, 147, 249);
	font-style: italic;
}

.token.comment {
	color: rgb(98, 114, 164);
}

pre code {
	padding: 0;
}

p {
	color: var(--global-colors-cape);
	font-weight: 500;
	line-height: 1.56;
	margin-bottom: 10px;
	margin-top: 0;
}

code {
	padding: 2px 5px;
}

.main .list-unstyled {
	font-size: var(--global-font-size-medium);
	margin: 0;
	padding: 0
}

.main .list-unstyled li {
	margin-bottom: 10px;
}

.main__item {
	margin-bottom: 30px;
	padding-bottom: 100px;
	border-bottom: 1px solid var(--global-colors-cararra);;
}

.list-unstyled {
	list-style: none;
}

table {
	width: 100%;
	font-size: var(--global-font-size-small);
}

thead {
	display: none;
}

@media (min-width: 1200px) {
	thead {
		display: table-row-group;
	}
}

th,
td {
	text-align: left;
	padding: 5px;
	font-weight: 400;
	display: block;
}

@media (min-width: 1200px) {
	th,
	td {
		display: table-cell;
		border-bottom: 1px solid var(--global-colors-cararra);;
	}
}

th {
	padding-top: 15px;
}

@media (min-width: 1200px) {
	th {
		padding-top: 5px;
	}
}

th::before,
td::before {
	padding-right: 10px;
	font-weight: bold;
}

th:nth-child(1)::before {
	content: 'Name:';
}

td:nth-child(2):before {
	content: 'Desc:';
}

td:nth-child(3):before {
	content: 'Type:';
}

td:nth-child(4):before {
	content: 'Default:';
}

td:last-child {
	border-bottom: 1px solid var(--global-colors-cararra);;
	padding-bottom: 15px;
}

@media (min-width: 1200px) {
	th::before,
	td::before {
		display: none;
	}
}

@media (min-width: 1200px) {
	td:last-child {
		padding-bottom: 5px;
	}
}

@media (min-width: 1200px) {
	th code,
	td code {
		white-space: nowrap;
	}
}

table p,
table code {
	margin: 0;
	font-size: var(--global-font-size-small);
}

.visually-hidden {
	display: none;
}
