// Font-smoothing

// Mixin creates font smoothing options.

// $type - Default type of smoothing. Default: antialiased.

// Markup:
// .test {
//   @include font-smoothing;
// }

// Output:
// .test {
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

@mixin font-smoothing($type: antialiased) {
  @if $type == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}
