// Stretch

// Mixin creates output used for position definitions.

// $top - Top Position. Default: 0.
// $right - Right Position. Default: 0.
// $bottom - Bottom Position. Default: 0.
// $left - Left Position. Default: 0.
// $position - Position type. Default: absolute.

// Markup:
// .test {
//   @include stretch(20px, 30px, 40px, 30%, fixed);
// }

// Output:
// .test {
//   position: fixed;
//   top: 20px;
//   right: 30px;
//   bottom: 40px;
//   left: 30%;
// }

@mixin stretch($top: 0, $right: 0, $bottom: 0, $left: 0, $position: absolute) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
