// Text-align-modifiers

// Mixin creates text align align modifiers.

// Markup:
// .test {
//   @include text-align-modifiers;
// }

// Output:
// .test--left {
//   text-align: left;
// }
// .test--center {
//   text-align: center;
// }
// .test--right {
//   text-align: right;
// }

@mixin text-align-modifiers() {
  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}
