$social-links: (
	icon-hover-color: global-settings(colors, black),
);

.social-links {
	@extend %list-reset;
	$this: &;
	display: inline-flex;
	align-items: center;
	overflow: hidden;
	margin: 0 -0.5em -0.5em;
	flex-wrap: wrap;

	&__link {
		padding: 0 0.5em 0.5em;
		display: block;
	}

	svg {
		display: block;
	}
}
