.social-links {
	$this: &;

	@extend %list-reset;

	display: flex;
	align-items: center;

	&__link {
		@extend %link-reset;
		color: var(--global-colors-black);

		transition: {
			property: color;
			timing-function: ease-out;
			duration: 0.3s;
		}

		&:hover {
			color: var(--global-colors-primary);
		}
	}

	& > *:not(:last-of-type) {
		margin-right: 1rem;
	}
}
