.icon-option-row {
	display: grid;
	align-items: center;
	grid-template-columns: 0.6rem 1fr;
	grid-gap: 1rem;

	i {
		margin: 0;
		padding: 0;

		svg {
			width: 1.2rem;
			height: 1.2rem;
			transform: translateY(2px);
		}
	}
}
