.icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: var(--icon-scoped-transition, color 0.3s ease-in-out);
	color: inherit;

	svg {
		width: var(--icon-scoped-width, var(--icon-size, 1.5rem));
		height: var(--icon-scoped-height, var(--icon-size, 1.5rem));
	}
}
