$block-columns: (
  gutter: (
    default: $base-gutter-size,
    big: $base-gutter-size * 2,
    none: 0,
  ),
  gutter-reset: (
    default: -$base-gutter-size,
    big: -($base-gutter-size * 2),
  ),
  horizontal-spacing: (
    default: $base-gutter-size,
    big: $base-gutter-size * 2,
    none: 0,
  ),
);

@mixin columns-parent {
  display: flex;
  flex-wrap: wrap;
}
@mixin columns {
  &__gutter {
    @include responsive-selectors {
      @include modifiers-deep($block-columns, gutter-reset, margin-left);
      @include modifiers-deep($block-columns, gutter-reset, margin-right);
      @include modifiers-deep($block-columns, gutter, padding-left, '.block-column');
      @include modifiers-deep($block-columns, gutter, padding-right, '.block-column');
    }
  }

  &__horizontal-spacing {
    @include responsive-selectors {
      @include modifiers-deep($block-columns, horizontal-spacing, margin-bottom, '.block-column');
    }
  }
}
