/// Mixin will output modifiers classes for specific selector.
///
/// @param {string} $map - Map to search for.
/// @param {string} $selector - a valid  HTML selector.
/// @param {string} $wrapper - Wrap output item with additional markup
///
/// Map:
/// $test: (
///   black: $base-black-color,
///   white: $base-white-color,
///   primary: $base-primary-color,
/// );
///
/// @example
/// .test {
///   @include modifiers($test, color);
/// }
///
/// @output
/// ```scss
/// .test--black {
///   color: #000000;
/// }
/// .test--white {
///   color: #FFFFFF;
/// }
/// .test--primary {
///   color: #D8262C;
/// }
/// ```

@mixin modifiers($map, $selector, $wrapper: false) {
	@each $key, $value in $map {
		@if $wrapper {
			&--#{$key} {
				#{$wrapper} {
					#{$selector}: $value;
				}
			}
		}

		@else {
			&--#{$key} {
				#{$selector}: $value;
			}
		}
	}
}
