.card-simple {
	text-align: var(--block-card-align);

	&__image {
		padding-bottom: 1.5em;
	}

	&__intro {
		padding-bottom: 0.5em;
	}

	&__heading {
		padding-bottom: 0.5em;
	}

	&__paragraph {
		padding-bottom: 1.5em;
	}
}
