@import url('https://use.typekit.net/baz1roy.css');

:root {
	--global-font-family: 'neue-haas-grotesk-text', 'Inter', system-ui, sans-serif;
	--global-code-family: 'ibm-plex-mono', monospace;
	--global-gutter: 1rem;
	--global-colors-gray-100: #F5F9FF;
	--global-colors-gray-200: #E4EBF5;
	--global-colors-gray-300: #C4CEDE;
	--global-colors-gray-400: #929EB2;
	--global-colors-gray-500: #525E6C;
	--global-colors-olive-30: #5A8772;
	--global-colors-sand-30: #D9A866;
	--global-colors-sand-70: #9E7956;
	--global-colors-black: #111111;
	--global-colors-white: #FFFFFF;
	--global-colors-infinum: #D8262C;
	--global-border-radius: 0.5rem;
	--global-sidebar-width: 20rem;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	background-color: var(--global-colors-white);
	color: var(--global-colors-black);

	margin: 0;
	padding: 0;

	font-family: var(--global-font-family);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	scroll-behavior: smooth;
}

@media (min-width: 992px) {
	body {
		display: grid;
		grid-template-columns: 20rem 1fr;
		grid-template-areas: 'sidebar content';
		column-gap: 2rem;
	}
}

a {
	color: var(--global-colors-infinum);
	text-decoration: none;
}

a:hover,
.sidebar a:hover {
	color: var(--global-colors-infinum);
	transition-property: color;
	transition-timing-function: ease-out;
	transition-duration: 0.3s;
}

.sidebar {
	display: block;

	grid-area: sidebar;

	overflow-x: hidden;
	padding: 2rem;

	background-color: var(--global-colors-gray-100);
	border-right: 1px solid var(--global-colors-gray-200);

	height: 100vh;

	/* Falls back to 100vh if not supported. Ensures the height follows any dynamic browser chrome. */
	height: 100dvh;

	align-self: start;

	position: sticky;
	top: 0;

	overscroll-behavior: contain;
}

@media (max-width: 996px) {
	.sidebar {
		display: none;
	}
}

.sidebar__header,
.btn-toggle,
.sidebar__item--heading,
.header,
.main__heading,
.main__heading--secondary,
.footer {
	display: none;
}

.sidebar__item--sub-heading {
	margin: 0;
	padding: 0;
	margin-bottom: 0.25rem;
}

.sidebar__item--sub-heading a {
	color: var(--global-colors-black);
	font-size: 1.25rem;
	font-weight: 500;
	text-transform: capitalize;
}

.sidebar .list-unstyled {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar .list-unstyled:not(:last-child) {
	margin-bottom: 1.5rem;
}

.sassdoc__item a {
	padding: 0.25rem 0;
	display: inline-block;

	color: var(--global-colors-black);

	line-height: 1.5;
	font-size: 0.8rem;
	font-family: var(--global-code-family);
}

.main {
	padding: 0 2rem 2rem;
	scroll-behavior: smooth;
}

.main__section,
.main__sub-section {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

@media (min-width: 992px) {
	.main {
		grid-area: content;
	}

	.main__section {
		gap: 8rem;
		max-width: 60rem;
	}

	.main__sub-section {
		gap: 4rem;
	}
}

.item__heading {
	font-size: 1.5rem;
	line-height: 1.25;
	font-family: var(--global-code-family);
	color: var(--global-colors-black);

	margin: 0;
	padding-block: 2rem 0.5rem;
}

@media (min-width: 768px) {
	.item__heading {
		font-size: 1.75rem;
	}
}

.item__heading a {
	color: var(--global-colors-black);
	cursor: pointer;
}

.item__sub-heading,
#output,
#map {
	font-weight: 500;
	line-height: 1.2;
	font-size: 1.25rem;
	font-family: var(--global-font-family);

	color: var(--global-colors-elephant);

	margin-block: 1.5rem 0.5rem;
}

.item__example {
	margin-bottom: 20px;
}

pre,
code {
	color: var(--global-colors-black);
	font-family: var(--global-code-family);
	font-size: 0.875rem;
	line-height: 1.5;
}

pre {
	color: var(--global-colors-black);
	background-color: var(--global-colors-gray-100);
	overflow: auto;
	margin: 0;
	border-radius: var(--global-border-radius);
	padding: 25px;
	margin-bottom: 15px;
}

code:not(pre code) {
	font-weight: 500;
}

.token.selector,
.token.keyword {
	color: var(--global-colors-olive-30);
}

.token.function {
	color: var(--global-colors-sand-70);
}

.token.variable {
	color: var(--global-colors-sand-30);
}

.token.comment {
	color: var(--global-colors-gray-500);
}

pre code {
	padding: 0;
}

p {
	line-height: 1.5;
	margin-block: 0;
	font-size: 0.875rem;
}

code {
	padding: 2px 5px;
}

.main .list-unstyled {
	margin: 0;
	padding: 0;
}

.main .list-unstyled li {
	margin-bottom: 10px;
}

.list-unstyled {
	list-style: none;
}

table {
	width: 100%;
	font-size: 1rem;
}

thead {
	display: none;
}

@media (min-width: 1200px) {
	thead {
		display: table-row-group;
	}
}

th,
td {
	text-align: left;
	padding: 5px;
	font-weight: normal;
	display: block;
}

@media (min-width: 1200px) {
	th,
	td {
		display: table-cell;
		border-bottom: 1px solid var(--global-colors-gray-200);
	}
}

th {
	font-size: 0.875rem;
	font-weight: 600;
}

@media (min-width: 1200px) {
	th {
		padding-top: 5px;
	}
}

th::before,
td::before {
	padding-right: 10px;
}

th:nth-child(1)::before {
	content: 'Name:';
}

td:nth-child(2)::before {
	content: 'Desc:';
}

td:nth-child(3)::before {
	content: 'Type:';
}

td:nth-child(4)::before {
	content: 'Default:';
}

td:last-child {
	border-bottom: 1px solid var(--global-colors-gray-200);
	padding-bottom: 15px;
}

@media (min-width: 1200px) {
	th::before,
	td::before {
		display: none;
	}
}

@media (min-width: 1200px) {
	td:last-child {
		padding-bottom: 5px;
	}
}

@media (min-width: 1200px) {
	th code,
	td code {
		white-space: nowrap;
	}
}

table p,
table code {
	margin: 0;
	font-size: 0.875rem;
}

.visually-hidden {
	display: none;
}
