.block-tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  &__head {
    order: 1;
  }

  &__content {
    @include flex-grid-width;
    order: 2;
  }
}

