/*
Some default variables are defined in eightshift-frontend-libs as defaults.
If you want to override it just define it with new value here.

All variables are available here:
https://github.com/infinum/eightshift-frontend-libs/blob/develop/styles/scss/_core.scss
*/

$base-col-number: global-settings(maxCols);

:root {
	--base-font-size: 0.625;

	@include media(large up) {
		--base-font-size: 0.85;
	}

	--global-font-family: var(--global-base-font), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
