/*
Some default variables are defined in eightshift-frontend-libs as defaults.
If you want to override it just define it with new value here.

All variables are available here:
https://github.com/infinum/eightshift-frontend-libs/blob/develop/styles/scss/_core.scss
*/

$base-col-number: global-settings(maxCols);
$media-breakpoints: (
	mobile: 0 global-settings(breakpoints, mobile),
	tablet: (global-settings(breakpoints, mobile) + 1) global-settings(breakpoints, tablet),
	desktop: (global-settings(breakpoints, tablet) + 1) global-settings(breakpoints, desktop),
	large: (global-settings(breakpoints, desktop) + 1)
);

:root {
	--global-font-family: var(--global-base-font), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
