.paragraph {
	margin: 0;
	color: var(--paragraph-color);
	font-size: var(--paragraph-font-size);
	line-height: var(--paragraph-line-height);

	a {
		cursor: pointer;
		text-decoration: underline;
		color: var(--paragraph-link-color);
		transition: {
			property: color;
			timing-function: ease-in;
			duration: 0.3s;
		}

		&:hover {
			color: var(--paragraph-link-color-hover);
		}
	}
}
