.paragraph {
	margin: 0;
	color: var(--paragraph-color, var(--global-colors-black, currentColor));
	font-size: var(--paragraph-font-size, 1rem);
	line-height: var(--paragraph-line-height, 1.5);
	overflow-wrap: anywhere;

	a {
		cursor: pointer;
		text-decoration: underline;
		color: var(--paragraph-link-color, var(--global-colors-primary, #5555CE));
		text-decoration-color: var(--paragraph-link-color, var(--global-colors-primary, #5555CE));

		transition: {
			property: color;
			timing-function: ease-in;
			duration: 0.3s;
		}

		&:hover {
			color: var(--paragraph-link-color-hover, var(--global-colors-yellow, #FFDD48));
		}
	}
}
