$wrapper: (
  background-colors: (
    white: $base-white-color,
    primary:  $base-primary-color,
    black:  $base-black-color,
  ),
  spacing: (
    min:  0,
    max:  300,
    step: 10,
  ),
  containers: (
    default: $base-container-size,
  ),
);

.wrapper {
  $this: &;

  &__bg-color {
    @include modifiers-deep($wrapper, background-colors, background-color);
  }

  &__spacing-top {
    @include responsive-selectors {
      @include modifiers-range($wrapper, spacing, padding-top);
    }
  }

  &__spacing-bottom {
    @include responsive-selectors {
      @include modifiers-range($wrapper, spacing, padding-bottom);
    }
  }

  &__hide-block {
    @include responsive-visibility-selectors {
      display: none;
    }
  }

  // Container Div.
  &__container {
    margin: 0 auto;
    width: 100%;
    display: flex;
  }

  &__container-width {
    @include responsive-selectors {
      @include modifiers-deep($wrapper, containers, max-width);
    }
  }

  &__container-spacing {
    @include responsive-selectors {
      &--default {
        padding-left: $base-gutter-size;
        padding-right: $base-gutter-size;
      }

      &--no-spacing {
        padding: 0;
      }
    }
  }

  // Inner Container Div.
  &__inner {
    @include flex-grid-width;
  }

  &__inner-content-width {
    @include responsive-selectors {
      @include flex-grid-width-modifiers;
    }
  }

  // Content Offset.
  &__inner-offset {
    @include responsive-selectors {
      &--content-spacing {
        padding-left: calc-grid-width(4);
        margin: 0;
      }

      &--center {
        margin: 0 auto;
        padding: 0;
      }
    }
  }
}
