// Calc-dynamic-size

// Caclculate dynamic sizes using linear function for calculations.

// $min-size - Minimal size after after responsivnes.
// $max-size - Maximal size after after responsivnes.
// $min-width - Minimal brakepoint to stop corrections.
// $max-width - Max brakepoint to stop corrections.

// Markup:
// .test {
//   font-size: calc-dynamic-size(10px, 100px, mobile, desktop);
// }

// Output:
// .test {
//   font-size: calc(0.1374 * 100vw + -64.74809px);
// }

@function calc-dynamic-size($min-size, $max-size, $min-width: tablet, $max-width: desktop) {

  $min-width: nth(map-get-strict($media-breakpoints, $min-width), 1) * 1px;
  $max-width: nth(map-get-strict($media-breakpoints, $max-width), 2) * 1px;

  $ratio: (($max-size - $min-size)/($max-width - $min-width));
  $factor: $min-size - ($ratio * $min-width);

  @return calc(#{$ratio} * 100vw + #{$factor});
}
  