$block-service-box: (
  title: (
    mobile: (
      font-size: 24px,
      line-height: 1.33,
    ),
  ),
  content: (
    mobile: (
      font-size: 18px,
      line-height: 1.5,
    ),
  ),
);


.block-service-box {
  &__image {
    margin-bottom: 25px;
  }

  &__title {
    @include responsive($block-service-box, title);
    font-weight: bold;
  }

  &__content {
    @include responsive($block-service-box, content);
    margin-top: 15px;
  }
}
