.es-help-button {
	gap: 0.4rem;
}

// Help item flex.
.help-item-flex {
	display: flex;
	align-items: center;
	padding: 0.5rem 0;

	svg {
		min-width: 3.5rem;
		color: var(--wp-admin-theme-color, var(--es-admin-accent-color-default));
	}
}

// Help item flex col.
.help-item-flex-col {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;

	h4,
	p {
		margin: 0;
	}

	h4 {
		margin-bottom: 0.2rem;
	}
}
