$share: (
	color: global-settings(colors, primary),
	size: 1em,
	spacing: 0.6em,
);

.share {
	display: flex;
	margin: 0 -#{map-get-strict($share, spacing)};

	&__item {
		text-decoration: none;
		font-size: map-get-strict($share, size);
		display: block;
		padding: map-get-strict($share, spacing);
		color: map-get-strict($share, color);
	}
}
