.share {
	display: flex;
	align-items: center;
	padding: 1rem;
	border-top: 1px solid var(--global-colors-light);

	&__item {
		@extend %link-reset;

		background-color: var(--global-colors-white);
		color: var(--global-colors-ocean);

		padding: 0.2rem 0.3rem;
		border-radius: 0.3rem;

		font-size: 1rem;

		transition: {
			property: background-color, color;
			timing-function: ease-out;
			duration: 0.3s;
		}

		&:hover {
			color: var(--global-colors-blue);
			background-color: var(--global-colors-mist);
		}
	}

	& > *:not(:last-child) {
		margin-right: 1rem;
	}
}
