// Item with icon on the left.
.es-custom-select-flex {
	display: flex;
	align-items: center;

	svg {
		height: 1.25rem;
		width: 1.25rem;
		margin-right: 0.4rem;
		color: currentColor;
	}
}

// Icon-text option row.
.icon-option-row {
	display: grid;
	align-items: center;
	grid-template-columns: 0.6rem 1fr;
	grid-gap: 1rem;

	i {
		margin: 0;
		padding: 0;

		svg {
			width: 1.2rem;
			height: 1.2rem;
		}
	}

	&--color {
		i {
			color: var(--wp-admin-theme-color, var(--es-admin-accent-color-default));
		}
	}
}

.es-custom-select-dropdown-icon {
	line-height: 0;

	&.is-open {
		transform: scaleY(-1);
	}
}

@media (prefers-reduced-motion: no-preference) {
	.es-custom-select-dropdown-icon {
		transition: 0.3s transform ease-out;
	}
}
