.block-carousel > .block-editor-inner-blocks {
	& > .block-editor-block-list__layout {
		display: flex;
		align-items: center;

		column-gap: 1rem;
		overflow-x: auto;

		> * {
			flex-shrink: 0;
		}

		// stylelint-disable-next-line selector-max-specificity
		> *:first-child:last-child {
			min-height: 9.5rem;
		}
	}
}
