@import '~swiper/swiper.scss';
@import '~swiper/modules/pagination/pagination.scss';

.block-carousel {
	width: 100%;
	position: relative;

	&__item {
		flex-shrink: 0;
		transition-property: transform;
		display: flex;
	}

	&__item-inner {
		display: flex;
		align-items: center;
	}

	// Pagination.
	&__pagination {
		display: flex;
		align-items: center;
		justify-content: center;

		position: absolute;
		bottom: 2rem !important; // stylelint-disable-line declaration-no-important
		left: 50% !important; // stylelint-disable-line declaration-no-important
		transform: translateX(-50%);

		width: max-content !important; // stylelint-disable-line declaration-no-important

		padding: 0.5rem;

		background: rgba(255 255 255 / 0.8);
		backdrop-filter: blur(10px) saturate(1.5) brightness(1.5);
		border-radius: 10rem;

		z-index: 1;
	}

	// Navigation buttons.
	&__button {
		@extend %button-reset;

		display: flex;
		align-items: center;
		justify-content: center;

		position: absolute;
		top: 50%;

		margin: 2rem;
		padding: 0;

		width: 4rem;
		height: 4rem;

		border: none;
		border-radius: 10rem;

		background: rgba(255 255 255 / 0.78);
		backdrop-filter: blur(10px) saturate(150%) brightness(150%);

		cursor: pointer;
		z-index: 1;

		transform: translateY(-50%) scale(0.9);
		transform-origin: center center;

		transition: {
			property: transform;
			timing-function: ease-out;
			duration: 0.3s;
		}

		&:not(:disabled):hover {
			transform: translateY(-50%) scale(1);
		}

		&:disabled {
			transform: translateY(-50%) scale(0);
			pointer-events: none;
		}

		&--previous {
			left: 1rem;
		}

		&--next {
			right: 1rem;
		}
	}

	& > * {
		max-height: 80vh;
	}

	// Specific block configs.
	.block-image,
	.block-image .image .image__img,
	.block-image .image {
		height: 100%;
		width: 100%;
	}
}
