.block-carousel .block-editor-block-list__layout {
  display: flex;
  overflow-y: hidden;

  .wp-block {
    @include flex-grid-width(6);

    .block-carousel-image {
      margin-right: 10px;
    }
  }
}
