@import 'EightshiftBlocksSwiperStyle';

.block-carousel {
  &[data-swiper-freeMode='1'] {
    overflow: visible;
    margin-right: 100px;
  }

  .swiper-wrapper {
    height: 300px;

    @include media(tablet up) {
      height: 540px;
    }
  }

  .swiper-slide {
    display: flex;
    height: 100%;
    align-items: flex-end;
    flex: 1;
    width: auto;
  }

  &__navigation {
    display: none;

    @include media(tablet up) {
      display: inherit;
      margin-left: calc-grid-width(1);
    }
  }
}
