// stylelint-disable number-max-precision, selector-max-specificity, declaration-no-important

.es-collapsable-v2 {
	$this: &;

	outline: 1px solid transparent;
	outline-offset: 0.25rem;
	border-radius: 0.05rem;
	padding: 0;

	transition: {
		property: outline, outline-offset, padding, margin;
		timing-function: ease-out;
		duration: 0.2s;
	}

	@media (prefers-reduced-motion) {
		transition-duration: 0.01s;
	}

	&__trigger {
		min-height: 2.25rem;

		> div > .components-button {
			border-radius: 0.25rem !important;

			transition: box-shadow 0.1s linear, opacity 0.3s ease-out;
		}

		transition: {
			property: margin-bottom;
			timing-function: ease-out;
			duration: 0.2s;
		}

		@media (prefers-reduced-motion) {
			transition-duration: 0.01s;
		}

		#{$this}__label {
			font-size: 0.8125rem;
			font-weight: 500;

			transition: color 0.3s ease-out, margin-left 0.2s var(--es-admin-ease-out-cubic);

			@media (prefers-reduced-motion) {
				transition-duration: 0.01s;
			}
		}
	}

	.components-button svg {
		transition: {
			property: transform;
			timing-function: ease-out;
			duration: 0.15s;
		}
	}

	&.is-open {
		outline-offset: 0.45rem;
		outline-color: var(--wp-admin-theme-color, var(--es-admin-accent-color-default));

		#{$this}__trigger {
			color: var(--wp-admin-theme-color, var(--es-admin-accent-color-default));
			margin-bottom: 1rem;
		}

		#{$this}__expander-button svg {
			transform: scaleY(-1);
		}
	}

	&__expander-button svg {
		transition: 0.3s transform var(--es-admin-ease-out-cubic);

		@media (prefers-reduced-motion) {
			transition: none;
		}
	}

	// Workaround for margin collapsing in content.
	> .components-base-control__field {
		padding-bottom: 0.01rem;
	}
}

// Reduce border offset if inside CollapsableComponentUseToggle or CompactResponsive.
.es-collapsable-component-use-toggle-v2 > div > div > .es-collapsable-v2.is-open {
	outline-offset: 0.3rem;
}

// stylelint-enable number-max-precision, selector-max-specificity, declaration-no-important
