.es-collapsable {
	border-radius: 0.5rem;
	box-shadow: 0 0 0 0 transparent;

	transition: {
		property: box-shadow, padding, margin;
		timing-function: ease-out;
		duration: 0.2s;
	}

	&__trigger {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr auto;
		grid-template-rows: auto;
		gap: 1rem;

		border-bottom: 1px solid transparent;

		transition: {
			property: border-color;
			timing-function: ease-out;
			duration: 0.3s;
		}
  }

	&.is-open {
		box-shadow: 0 0 0 1px var(--wp-admin-theme-color, #194BD4);
		padding: 0.5rem;

		margin-left: -0.5rem;
		margin-right: -0.5rem;

    .es-collapsable__trigger {
			color: var(--wp-admin-theme-color, #194BD4);
			border-bottom-color: hsl(0 0 96%);
			padding-bottom: 0.5rem;
			margin-bottom: 0.5rem;
		}
  }
}
