$block-cards-grid: (
  spacing: (
    bottom: 60px,
    vertical: 20px,
  )
);

.block-cards-grid {
  $this: &;
  overflow: hidden;
  margin-bottom: -(map-get-deep($block-cards-grid, spacing, bottom));

  @include media(tablet up) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .block-card {
    margin: {
      left: 0;
      right: 0;
      bottom: map-get-deep($block-cards-grid, spacing, bottom);
    }

    @include media(tablet up) {
      @include flex-grid-width(4);
      padding: {
        left: map-get-deep($block-cards-grid, spacing, vertical);
        right: map-get-deep($block-cards-grid, spacing, vertical);
      }
      margin-bottom: map-get-deep($block-cards-grid, spacing, bottom);
    }
  }
}
