.image {
	$this: &;
	overflow: hidden;
	width: var(--image-width, auto);
	display: block;

	&__img {
		max-width: var(--image-img-max-width, 100%);
		width: var(--image-img-width, auto);
		height: auto;
		display: block;
	}
}
