@import './styles/shared';

.block-column.wp-block.block-editor-block-list__block.block-column {
	margin-left: 0;
	margin-right: 0;

	@include column;
}

.button-group__label {
	display: block;
	margin-bottom: 0.3rem;
}

.button-group__label + * {
	margin-bottom: 0.4rem;
}