// stylelint-disable declaration-no-important, number-max-precision

.es-collapsable-component-use-toggle-v2 {
	$this: &;

	outline: 1px solid transparent;
	outline-offset: 0.25rem;
	border-radius: 0.05rem;
	padding: 0;

	transition: {
		property: outline, outline-offset, padding, margin;
		timing-function: ease-out;
		duration: 0.2s;
	}

	@media (prefers-reduced-motion) {
		transition-duration: 0.01s;
	}

	&__trigger {
		min-height: 2.25rem;

		> div > .components-button {
			transition: box-shadow 0.1s linear, opacity 0.3s ease-out;
		}

		transition: {
			property: margin-bottom;
			timing-function: ease-out;
			duration: 0.2s;
		}

		@media (prefers-reduced-motion) {
			transition-duration: 0.01s;
		}

		#{$this}__label {
			font-size: 0.8125rem;

			transition: color 0.3s ease-out, margin-left 0.2s var(--es-ease-out-back);

			@media (prefers-reduced-motion) {
				transition-duration: 0.01s;
			}
		}
	}

	&.is-open {
		outline-offset: 0.45rem;
		outline-color: var(--wp-admin-theme-color, var(--es-admin-accent-color-default));

		> div > #{$this}__trigger {
			margin-bottom: 1rem;

			#{$this}__expander-button svg {
				transform: scaleY(-1);
			}
		}
	}

	&__placeholder-icon {
		display: flex;
	}

	&__toggle-button {
		.es-toggle-icon-thumb,
		.es-toggle-icon-container {
			--transition-duration: 0.25s;
			--transition-timing-function-basic: ease-out;
			--transition-timing-function-transform: var(--es-ease-out-back);

			transition: fill var(--transition-duration) var(--transition-timing-function-basic),
				fill-opacity var(--transition-duration) var(--transition-timing-function-basic),
				stroke var(--transition-duration) var(--transition-timing-function-basic),
				stroke-opacity var(--transition-duration) var(--transition-timing-function-basic),
				transform var(--transition-duration) var(--transition-timing-function-transform);

			@media (prefers-reduced-motion) {
				--transition-duration: 0.01s;
				--transition-timing-function-basic: linear;
				--transition-timing-function-transform: linear;
			}
		}

		&.has-full-color-off-state {
			.es-toggle-icon-thumb,
			.es-toggle-icon-container {
				--es-toggle-icon-thumb-stroke: var(--es-admin-pure-white);
				--es-toggle-icon-thumb-fill: var(--es-admin-pure-white);
				--es-toggle-icon-thumb-fill-opacity: 1;
				--es-toggle-icon-container-fill: var(--es-admin-cool-gray-500);
				--es-toggle-icon-container-fill-opacity: 1;
				--es-toggle-icon-container-stroke: var(--es-admin-cool-gray-500);
			}
		}

		&.is-active {
			.es-toggle-icon-thumb {
				// This should always be white.
				--es-toggle-icon-thumb-stroke: var(--es-admin-pure-white);
				--es-toggle-icon-thumb-fill: var(--es-admin-pure-white);
				--es-toggle-icon-thumb-fill-opacity: 1;
				transform: translateX(0.5rem);
			}

			.es-toggle-icon-container {
				--es-toggle-icon-container-stroke: var(--wp-admin-theme-color, var(--es-admin-accent-color-default));
				--es-toggle-icon-container-fill: var(--wp-admin-theme-color, var(--es-admin-accent-color-default));
				--es-toggle-icon-container-fill-opacity: 1;
			}
		}
	}

	&__expander-button svg {
		transition: {
			property: transform;
			timing-function: var(--es-ease-out-back);
			duration: 0.5s;
		}

		@media (prefers-reduced-motion) {
			transition: none;
		}
	}

	// Workaround for margin collapsing in content.
	> .components-base-control__field {
		padding-bottom: 0.01rem;
	}

	// Shift component labels if the component has no use toggle and is preceded by one that has it.
	&.has-inset-label,
	&.has-use-toggle ~ &:not(.has-use-toggle) {
		&:not(.is-open) > div > #{$this}__trigger #{$this}__label {
			margin-left: 2rem;
		}
	}

	// Reduce border offset if nested - 1 level deep.
	// stylelint-disable-next-line no-duplicate-selectors
	& &.is-open,
	.es-collapsable-v2.is-open & {
		outline-offset: 0.35rem !important;
	}

	// Reduce border offset if nested - 2 levels deep.
	& & &.is-open {
		outline-offset: 0.2rem !important;
	}
}

// stylelint-enable declaration-no-important, number-max-precision
