// stylelint-disable max-nesting-depth
$block-cards-list: (
  spacing: (
    bottom: 60px,
  )
);

.block-cards-list {
  .block-card-list {
    margin-bottom: map-get-deep($block-cards-list, spacing, bottom);
  }
}
