.header {
	$this: &;
	padding: var(--global-gutters-default);
	top: 0;
	background: var(--global-colors-white);
	height: var(--header-scoped-height, 5em);
	width: 100%;
	position: relative;
	z-index: var(--global-z-index-header);

	&--fixed {
		position: fixed;
	}

	&__wrap {
		max-width: var(--global-containers-default);
		margin: 0 auto;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__column {
		display: flex;
		flex: 1 0 0.05em;
		position: relative;

		&--left {
			justify-content: left;
		}

		&--center {
			text-align: center;
			justify-content: center;
		}

		&--right {
			text-align: right;
			justify-content: flex-end;
		}
	}

	&__logo {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		@include media(desktop up) {
			justify-content: flex-start;
		}
	}

	&__menu {
		height: 100%;
		display: none;

		@include media(desktop up) {
			display: flex;
			justify-content: flex-end;
		}
	}
}
