$header: (
  height: 50px,
  site-padding: 60px,
  site-container-wide: 1000px,
  colors: (
    background: #FFFFFF,
  ),
);

.header {
  $this: &;
  padding: 0 map-get-deep($header, site-padding);
  top: 0;
  background: map-get-deep($header, colors, background);
  height: map-get-deep($header, height);
  width: 100%;
  position: relative;
  z-index: 100;

  &--fixed {
    position: fixed;
  }

  &__wrapper {
    max-width: map-get-deep($header, site-container-wide);
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__column {
    flex: 1 0 auto;
    height: 100%;
    position: relative;
    z-index: 100;

    &--center {
      text-align: center;
    }

    &--right {
      text-align: right;
    }

    @include media(desktop up) {
      &--left {
        order: 2;
      }

      &--center {
        text-align: left;
        order: 1;
      }

      &--right {
        order: 3;
      }
    }
  }

  .custom-logo {
    height: map-get-deep($header, height);
    width: auto;
  }
}
