@function map-get-deep($map, $keys...) {
  $value: $map;

  @each $key in $keys {
    @if map-has-key($value, $key) {
      $value: map-get($value, $key);
    }

    @else {
      @error 'ERROR: Specified index does not exist in map #{$map}, with value: #{$key}';
    }
  }

  @return $value;
}
