$menu-vertical: (
	link-padding: 0.5rem 0,
	link-modifiers: (
		normal: (
			color: global-settings(colors, black),
			text-decoration-color: rgba(global-settings(colors, black), 0.15),
		),
		hover: (
			color: global-settings(colors, primary),
			text-decoration-color: rgba(global-settings(colors, primary), 1),

		),
	),
);

.menu-vertical {
	@extend %list-reset;

	&__link {
		display: block;
		text-decoration: underline;
		text-decoration-color: map-get-deep($menu-vertical, link-modifiers, normal, text-decoration-color);
		transition: 0.3s color ease-in-out;
		padding: map-get-strict($menu-vertical, link-padding);
		overflow-wrap: anywhere;

		@include link($menu-vertical, link-modifiers);

		&:hover {
			text-decoration-color: map-get-deep($menu-horizontal, link-modifiers, hover, text-decoration-color);
		}

		@media (prefers-contrast: more) {
			text-decoration-color: map-get-deep($menu-horizontal, link-modifiers, hover, text-decoration-color);
		}
	}
}
