@import './style/shared';

body {
	.editor-styles-wrapper > .is-root-container {
		height: initial !important;

		@extend %wrapper;

		> * {
			@extend %wrapper-children;
			@extend %wrapper-children-editor;
		}

		.wrapper__grid {
			display: none;
		}

		> .wrapper__grid {
			@extend %wrapper;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: var(--global-colors-primary);
			opacity: 0.3;
		}

		.wrapper__grid-item {
			background-color: var(--global-colors-ocean);
			height: 100%;
		}
	}
}
