$video: (
	ratio: (
		default: 56.25%,
		twentyone-nine: 42.25%,
	),
);

.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;

	&__wrap {
		position: relative;
		width: 100%;
	}

	&__ratio {
		@include modifiers-deep($video, ratio, padding-bottom);

		&--local {
			padding-bottom: 0;
		}
	}

	&--placeholder {
		padding: 0;
	}
}
