.es-number-picker {
	.es-number-picker-input-value {
		.components-input-control__input {
			font-variant-numeric: tabular-nums;

			// stylelint-disable-next-line declaration-no-important
			min-height: 2rem !important;
		}

		.components-input-control__backdrop {
			// stylelint-disable declaration-no-important
			border-top-right-radius: 0 !important;
			border-bottom-right-radius: 0 !important;
			// stylelint-enable declaration-no-important
		}
	}

	.es-number-picker-input {
		.components-input-control {
			&__backdrop {
				display: none !important;
			}

			&__container {
				border: none !important;
				box-shadow: none !important;
				background: none !important;

				min-height: auto !important;
			}

			&__input {
				appearance: none;

				margin: 0 !important;
				padding: 0 !important;
				min-height: auto !important;

				border: none !important;
				box-shadow: none !important;

				width: var(--es-number-input-width) !important;

				// Special case for Firefox, as it keeps ignoring appearance none on input[type=number]
				// stylelint-disable-next-line max-nesting-depth
				@supports (-moz-appearance: textfield) {
					// stylelint-disable-next-line property-no-vendor-prefix
					-moz-appearance: textfield;
				}
			}
		}
	}
}
