.es-color-theme-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.es-color-palette-custom {
	&--list,
	&--list-two-col {
		display: grid;
		grid-auto-rows: auto;
	}

	&--list {
		grid-template-columns: 1fr;
	}

	&--list-two-col {
		grid-template-columns: 1fr 1fr;
	}

	&--inline {
		display: flex;
		flex-wrap: wrap;
		gap: 0.25rem;
	}
}

.generic-swatch-icon-color {
	transition: {
		property: rx, fill;
		timing-function: ease-out;
		duration: 0.3s;
	}

	rx: 2;

	&:hover {
		rx: 3;
	}

	& ~ circle {
		transition: {
			property: opacity;
			timing-function: ease-out;
			duration: 0.3s;
		}
	}
}

.is-generic-swatch-active {
	.generic-swatch-icon-color {
		rx: 9;

		&:hover {
			rx: 8;
		}
	}
}
