.es-inline-notification-v3 {
	> .es-label-flex {
		> svg {
			align-self: flex-start;
		}
	}

	background-color: var(--es-admin-pure-white);

	&--error {
		--wp-admin-theme-color: var(--es-admin-red-500);

		border: 1px solid var(--es-admin-red-500);
	}

	&--warning {
		--wp-admin-theme-color: var(--es-admin-yellow-500);

		border: 1px solid var(--es-admin-yellow-500);
	}

	&--info {
		--wp-admin-theme-color: var(--es-admin-blue-500);

		border: 1px solid var(--es-admin-blue-500);
	}

	&--success {
		--wp-admin-theme-color: var(--es-admin-green-500);

		border: 1px solid var(--es-admin-green-500);
	}
}
