.es-inline-notification {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	padding: 0.25rem 0.3rem;
	padding-right: 0.45rem;
	font-size: 0.85rem;
	letter-spacing: 0.1px;
	border-radius: 0.6rem;
	font-weight: 600;
	width: max-content;

	&__icon {
		width: 1.5rem;
		height: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			width: 1.5rem;
			height: 1.5rem;
		}
	}

	&--error {
		color: #FFFFFF;
		background-color: #FF6666;
	}

	&--warning {
		color: #111111;
		background-color: #FFC837;
	}

	&--info {
		color: #00172C;
		background-color: #E0F6FF;
	}
}
