$jumbotron: (
	site-container: global-settings(containers, default),
	content: (
		mobile: (
			min-height: 400px,
			padding: 15px global-settings(gutters, default),
		),
		tablet: (
			min-height: 700px,
			padding-top: 30px,
			padding-bottom: 30px,
		),
	),
);

.jumbotron {
	$this: &;
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;

	&__image-wrap {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	&__content {
		@include responsive($jumbotron, content);
		margin: 0 auto;
		max-width: map-get-strict($header, site-container);
		position: relative;
		z-index: 3;
		display: flex;
		height: 100%;

		&[data-position='top left'] {
			align-items: flex-start;
			justify-content: flex-start;
		}

		&[data-position='top center'] {
			align-items: flex-start;
			justify-content: center;
		}

		&[data-position='top right'] {
			align-items: flex-start;
			justify-content: flex-end;
		}

		&[data-position='center left'] {
			align-items: center;
			justify-content: flex-start;
		}

		&[data-position='center center'] {
			align-items: center;
			justify-content: center;
		}

		&[data-position='center right'] {
			align-items: center;
			justify-content: flex-end;
		}

		&[data-position='bottom left'] {
			align-items: flex-end;
			justify-content: flex-start;
		}

		&[data-position='bottom center'] {
			align-items: flex-end;
			justify-content: center;
		}

		&[data-position='bottom right'] {
			align-items: flex-end;
			justify-content: flex-end;
		}
	}

	&__content-wrap {
		@include flex-grid-width(6);
		width: 100%;
	}

	&__heading {
		margin-bottom: 20px;
	}

	&__paragraph {
		margin-bottom: 30px;
	}
}
