.jumbotron {
	$this: &;
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__content {
		display: flex;
		align-items: var(--jumbotron-content-position-vertical, center);
		justify-content: var(--jumbotron-content-position-horizontal, center);

		position: relative;
		z-index: 3;

		width: 100%;
		height: 100%;
		min-height: 35rem;
		max-width: var(--global-containers-default);

		margin: 0 auto;
		padding: 0.75rem var(--global-gutters-default);
	}

	&__content-wrap {
		width: max-content;
	}

	&__heading {
		padding-bottom: 1rem;
	}

	&__paragraph {
		padding-bottom: 1.5rem;
	}
}
