$accordion: (
	border-color: global-settings(colors, light),
	icon-size: 30px,
);

.accordion {
	$this: &;
	position: relative;
	border-bottom: 1px solid map-get-strict($accordion, border-color);

	&[data-accordion-open='true'] {
		> #{$this}__trigger {
			#{$this}__icon {
				transform: translateY(-50%) rotate(180deg);
			}
		}

		> #{$this}__panel {
			max-height: 1500px;
		}
	}

	&__panel {
		display: block;
		max-height: 0;
		overflow: hidden;

		transition: {
			property: max-height, background-color;
			timing-function: ease-in;
			duration: 0.3s;
		}
	}

	&__trigger {
		@extend %button-reset;
		width: 100%;
		position: relative;
		text-align: left;
		cursor: pointer;
		transition: {
			property: background-color;
			timing-function: ease-in;
			duration: 0.3s;
		}
		padding: 20px 25px;
		font-size: 16px;
		line-height: 1.4;

		&:active {
			color: inherit;
		}
	}

	&__icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		height: map-get-strict($accordion, icon-size);
		width: map-get-strict($accordion, icon-size);
		pointer-events: none;
		right: 25px;
		transition: {
			property: transform;
			timing-function: ease-in;
			duration: 0.3s;
		}

		svg {
			height: map-get-strict($accordion, icon-size);
			width: map-get-strict($accordion, icon-size);
		}
	}

	&__content {
		padding: 25px;
	}
}
