.accordion {
	$this: &;

	--accordion-scoped-icon-size: 1.5rem;

	&__panel {
		display: block;
		max-height: 0;
		overflow: hidden;
		background-color: inherit;

		border-bottom: 1px solid var(--global-colors-ocean);

		transition: {
			property: max-height;
			timing-function: ease-out;
			duration: 0.3s;
		}
	}

	&__trigger {
		@extend %button-reset;
		display: flex;
		align-items: center;
		justify-content: space-between;

		width: 100%;
		padding: 1rem 1.2rem;

		background-color: var(--global-colors-mist);

		font-size: 0.9rem;
		line-height: 1;
		text-align: left;

		cursor: pointer;

		transition: {
			property: background-color, color;
			timing-function: ease-out;
			duration: 0.3s;
		}

		&:hover {
			color: var(--global-colors-white);
			background-color: var(--global-colors-ocean);
		}
	}

	&__icon {
		height: var(--accordion-scoped-icon-size);
		width: var(--accordion-scoped-icon-size);
		pointer-events: none;

		transition: {
			property: transform;
			timing-function: ease-in;
			duration: 0.3s;
		}

		svg {
			height: var(--accordion-scoped-icon-size);
			width: var(--accordion-scoped-icon-size);
		}
	}

	&__content {
		padding: 1.2rem;
	}

	&[data-accordion-open='true'] {
		> #{$this}__trigger {
			color: var(--global-colors-white);
			background-color: var(--global-colors-blue);

			#{$this}__icon {
				transform: rotate(180deg);
			}
		}

		> #{$this}__panel {
			max-height: var(--max-height, 100%);
		}
	}
}
