.accordion {
	--accordion-scoped-icon-size: 1.5em;

	$this: &;
	position: relative;
	border-bottom: 0.05em solid var(--global-colors-light);

	&[data-accordion-open='true'] {
		> #{$this}__trigger {
			#{$this}__icon {
				transform: translateY(-50%) rotate(180deg);
			}
		}

		> #{$this}__panel {
			max-height: 75em;
		}
	}

	&__panel {
		display: block;
		max-height: 0;
		overflow: hidden;

		transition: {
			property: max-height, background-color;
			timing-function: ease-in;
			duration: 0.3s;
		}
	}

	&__trigger {
		@extend %button-reset;
		width: 100%;
		position: relative;
		text-align: left;
		cursor: pointer;
		transition: {
			property: background-color;
			timing-function: ease-in;
			duration: 0.3s;
		}
		padding: 1em 1.25em;
		font-size: 0.8em;
		line-height: 1.4;

		&:active {
			color: inherit;
		}
	}

	&__icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		height: var(--accordion-scoped-icon-size);
		width: var(--accordion-scoped-icon-size);
		pointer-events: none;
		right: 1.25em;
		transition: {
			property: transform;
			timing-function: ease-in;
			duration: 0.3s;
		}

		svg {
			height: var(--accordion-scoped-icon-size);
			width: var(--accordion-scoped-icon-size);
		}
	}

	&__content {
		padding: 1.25em;
	}
}
