.block-featured-posts {
	list-style-type: none;
	padding: 0;

	display: grid;
	grid-template-columns: var(--featured-posts-columns, repeat(2, 1fr));
	grid-auto-rows: 1fr;
	grid-gap: var(--global-gutters-default, 1rem);

	&__item {
		border-radius: 0.5rem;
		border: 1px solid #E0E0E0;

		height: 100%;
		width: 100%;

		padding: 1rem;
	}
}
