$block-featured-posts: (
	gutter: global-settings(gutters, default),
);

.block-featured-posts {
	$this: &;
	margin: 0 (- map-get-strict($block-featured-posts, gutter));
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;

	&__items-per-line {
		@include responsive-selectors {
			@include flex-column-width-modifiers($wrapper: '> *');
		}
	}

	> * {
		padding: 45px map-get-strict($block-featured-posts, gutter);
		transition: {
			property: background-color, transform;
			timing-function: ease-in;
			duration: 0.3s;
		}
	}
}
