/* stylelint-disable-line selector-no-type */

*,
*::after,
*::before {
	@include box-sizing;
}

body {
	@include font-smoothing;
	font-family: var(--global-font-family);
	color: var(--global-colors-black);
	background-color: var(--global-colors-white);
	position: relative;
	overflow-x: hidden;
}
