/* stylelint-disable-line selector-no-type */

*,
*::after,
*::before {
	@include box-sizing;
}

html {
	font-size: var(--base-font-size);
}

body {
	@include font-smoothing;
	font-family: var(--global-font-family);
	color: var(--global-colors-black);
	background-color: var(--global-colors-white);
	position: relative;
	overflow-x: hidden;
	opacity: var(--es-loader-opacity, 0);

	transition: {
		property: opacity;
		duration: 0.5s;
		delay: 0.5s;
	};
}
