/**
 * This is the main entry point for Block Editor blocks styles used for the `WordPress frontend screen`.
 * File names must follow naming convention to be able to run dynamically.
 *
 * `src/blocks/custom/block_name/block_name-editor.scss`.
 *
 * Usage: `WordPress frontend screen`.
 *
 */

// Globals.
@import './../../../../assets/styles/parts/shared';

// Register Wrapper block styles.
@import './../../wrapper/wrapper-frontend.scss';

// Find all components and require component_name-style.scss inside it.
@import './../../components/*/*-frontend.scss';

// Find all blocks and require block_name-editor.scss inside it.
@import './../../custom/*/*-frontend.scss';
