.es-panel-text-divider {
	display: block;
	margin-top: 2rem;
	margin-bottom: 0.75rem;
	padding-bottom: 0.2rem;
	border-bottom: 1px solid hsl(0, 0%, 90%);
	opacity: 0.9;
	font-size: 0.7rem;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	user-select: none;
}
