.drawer {
	$menu: &;
	position: fixed;
	top: auto;
	height: 0;
	width: 100%;
	margin: auto;

	display: none;
	overflow-x: hidden;

	background: var(--global-colors-white);

	box-shadow: 0 0 0.15rem rgba(var(--global-colors-black), 0.2);
	transition: height 0.3s ease-in-out;

	&.is-open {
		display: block;
		padding: var(--global-gutters-default);
		pointer-events: auto;
	}
}

body.is-menu-open {
	overflow: hidden;

	.drawer {
		pointer-events: auto;
		height: 100%;
	}
}
