$drawer: (
  width: 256px,
  colors: (
    background: $base-white-color,
    link: $base-text-color,
    link-hover: $base-primary-color
  ),
  navigation: (
    font-size: 24px,
    font-family: $base-font-family
  ),
  link-offset: 24px,
  vertical-padding: 26px,
);

.drawer {
  $menu: &;
  position: fixed;
  top: auto;
  height: 100%;
  z-index: 99;
  margin: auto;
  padding: map-get-strict($drawer, vertical-padding);
  display: block;
  background: map-get-deep($drawer, colors, background);
  width: map-get-strict($drawer, width);
  transition: transform 0.3s ease-out;

  @include media(desktop up) {
    display: none;
  }

  &--left {
    left: 0;
    transform: translate3D(-100%, 0, 0);
  }

  &--right {
    right: 0;
    transform: translate3D(100%, 0, 0);
  }
}

body.menu-is-open {
  .drawer {
    transform: translate3D(0, 0, 0);
  }
}
