$drawer: (
  width: 250px,
  colors: (
    background: global-settings(colors, white),
  ),
  padding: map-get-deep($base-gutter-sizes, default),
  z-index: map-get-strict($zindex, drawer),
);

.drawer {
  $menu: &;
  position: fixed;
  top: auto;
  height: 100%;
  z-index: map-get-strict($drawer, z-index);
  margin: auto;
  padding: map-get-strict($drawer, padding);
  display: block;
  background: map-get-deep($drawer, colors, background);
  width: map-get-strict($drawer, width);
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;

  @include media(desktop up) {
    display: none;
  }

  &--left {
    left: 0;
    transform: translate3d(-100%, 0, 0);
  }

  &--right {
    right: 0;
    transform: translate3d(100%, 0, 0);
  }

  &--top {
    width: 100%;
    transform: translate3d(0, -100%, 0);
  }

  &--behind {
    width: 100%;
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
}

body.menu-is-open {
  .drawer {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
