/// Absolutely positions an element and centers it.
///
/// ### Output
/// ```scss
/// .test {
///   position: absolute;
///   top: 0;
///   bottom: 0;
///   right: 0;
///   left: 0;
///   margin: auto;
/// }
/// ```
///
/// @access public
/// @author Ivan Grginov
/// @example
/// .test {
///   @extend %absolute-center;
/// }

%absolute-center {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
