/// Placeholder that is used to set size of element background image to cover.
///
/// ### Output
/// ```scss
/// .test {
///   background: {
///     size: cover;
///     position: center;
///     repeat: no-repeat;
///   }
/// }
/// ```
/// @access public
/// @author Ivan Ruzevic
/// @example
/// .test {
///   @extend %bg-image;
/// }

%bg-image {
	background: {
		size: cover;
		position: center;
		repeat: no-repeat;
	}
}
