/// Placeholder that is used to reset browser default styles.
///
/// ### Output
/// ```scss
/// .test {
///   padding: 0;
///   border: 0;
///   appearance: none;
///   font-family: inherit;
/// }
/// ```
/// @access public
/// @author Ivan Ruzevic
/// @example
/// .test {
///   @extend %button-reset;
/// }

%button-reset {
	padding: 0;
	border: 0;
	appearance: none;
	font-family: inherit;
}
