/// Placeholder that is used to add clearfix after floating divs.
///
/// @access public
/// @author Ivan Ruzevic
/// @example
/// .test {
///   @extend %clearfix;
/// }
///
/// @output
/// ```scss
/// .test {
///   &::after {
///     content: '';
///     display: table;
///     clear: both;
///   }
/// }
/// ```

%clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
