/// Placeholder that is used to reset browser default styles for inputs.
///
/// ### Output
/// ```scss
/// .test {
///   padding: 0;
///   border: none;
///   appearance: none;
/// }
/// ```
///
/// @access public
/// @author Ivan Ruzevic
/// @example
/// .test {
///   @extend %input-reset;
/// }

%input-reset {
	padding: 0;
	border: none;
	appearance: none;
}
