/// Placeholder that is used to add default transition to links.
///
/// ### Output
/// ```scss
/// .test {
///   transition: color 0.2s ease-in;
/// }
/// ```
///
/// @access public
/// @author Ivan Ruzevic
/// @example
/// .test {
///   @extend %link-transition;
/// }

%link-transition {
	transition: color 0.2s ease-in;
}
