/// Placeholder that is used to reset browser default styles for anchor link.
///
/// ### Output
/// ```scss
/// .test {
///   padding: 0;
///   margin: 0;
///   color: unset;
///   text-decoration: none;
///   &:hover {
///     color: unset;
///   }
/// }
/// ```
///
/// @access public
/// @author Kristijan Maric
/// @example
/// .test {
///   @extend %link-reset;
/// }

%list-reset {
  margin: 0;
  padding: 0;
  color: unset;
  text-decoration: none;

  &:hover {
    color: unset;
  }
}
