/// Placeholder that is used to reset browser default styles for lists.
///
/// @access public
/// @author Ivan Ruzevic
/// @example
/// .test {
///   @extend %list-reset;
/// }
///
/// @output
/// ```scss
/// .test {
///   padding: 0;
///   margin: 0;
///   list-style: none;
/// }
/// ```

%list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
