/// Placeholder that is used to reset browser default styles for paragraph.
///
/// ### Output
/// ```scss
/// .test {
///   padding: 0;
///   margin: 0;
/// }
/// ```
///
/// @access public
/// @author Ivan Ruzevic
/// @example
/// .test {
///   @extend %paragraph-reset;
/// }

%paragraph-reset {
	padding: 0;
	margin: 0;
}
