// stylelint-disable number-max-precision, selector-max-specificity, declaration-no-important, max-nesting-depth

.es-compact-responsive {
	outline: 1px solid transparent;
	outline-offset: 0.35rem;
	border-radius: 0.0625rem;

	transition: {
		property: outline, outline-offset;
		timing-function: ease-out;
		duration: 0.15s;
	}

	.es-compact-responsive-trigger > svg:first-child {
		transition: {
			property: transform;
			timing-function: ease-out;
			duration: 0.15s;
		}
	}

	&.is-open {
		outline-offset: 0.25rem;
		outline: 1px solid var(--wp-admin-theme-color);

		// Flip the triangle icon.
		.es-compact-responsive-trigger > svg:first-child {
			transform: scaleY(-1);
		}
	}

	.es-compact-responsive-breakpoint-label {
		display: grid;
		align-items: center;
		grid-template-columns: auto auto 1fr;
		width: 100%;
		column-gap: 0.25rem;

		// Breakpoint icon.
		> i {
			color: var(--es-admin-gray-800);

			--wp-admin-theme-color: var(--es-admin-gray-800);
		}

		// Breakpoint label.
		> span {
			font-size: 0.8rem;
			margin-right: 0.25rem;
			color: var(--es-admin-gray-800);
		}

		// Visual separator.
		> hr {
			margin: 0;
		}
	}

	// Anti-confusion inner icon coloring system (AIICS)
	// (colors the top-level component icons to black if the control is not expanded)
	&:not(.is-open) {
		.components-base-control__field .uses-anti-confusion-technology svg:not(button svg),
		.components-base-control__field > .components-base-control .components-base-control__label svg:not(button svg),
		.components-base-control__field > .components-base-control .components-input-control__label svg:not(button svg) {
			color: currentColor;
		}
	}

	.components-base-control__field .uses-anti-confusion-technology svg:not(button svg),
	.components-base-control__field > .components-base-control .components-base-control__label svg:not(button svg),
	.components-base-control__field > .components-base-control .components-input-control__label svg:not(button svg) {
		transition: {
			property: color;
			timing-function: ease-out;
			duration: 0.3s;
		}
	}

	// Workaround for margin collapsing in content.
	> .components-base-control__field {
		padding-bottom: 0.01rem;
	}

	// Reduce border offset if nested - 1 level deep.
	.es-collapsable-v2.is-open & {
		outline-offset: 0.15rem;
	}
}

.es-compact-responsive-inherit-button {
	flex-shrink: 0;

	.arrow-top,
	.arrow-mid,
	.arrow-btm {
		transform-origin: center;

		transition: {
			property: transform, fill-opacity, opacity;
			timing-function: var(--es-admin-ease-out-cubic);
			duration: 0.3s;
		}
	}

	.arrow-btm {
		fill: currentColor;
		fill-opacity: 0;
	}

	&:not(.is-inherited) {
		&:hover {
			.arrow-top {
				transform: translateY(5%);
			}

			.arrow-btm {
				transform: translateY(-5%);
			}
		}
	}

	&.is-inherited {
		.arrow-top {
			transform: translateY(32.5%);

			opacity: 0;
		}

		.arrow-mid {
			opacity: 0;
		}

		.arrow-btm {
			fill-opacity: 1;
			transform: translateY(-37.5%) scale(1.15);
		}
	}
}

// A11y improvements.
@media (prefers-reduced-motion) {
	.es-compact-responsive,
	.es-compact-responsive .es-compact-responsive-trigger > svg:first-child,
	.es-compact-responsive-inherit-button .arrow-top,
	.es-compact-responsive-inherit-button .arrow-mid,
	.es-compact-responsive-inherit-button .arrow-btm {
		transition-duration: 25ms !important;
	}
}

// stylelint-enable number-max-precision, selector-max-specificity, declaration-no-important, max-nesting-depth
