@import 'rc-slider/assets/index.css';
@import 'rc-tooltip/assets/bootstrap.css';

.es-custom-slider {
	&__tooltip {
		.rc-tooltip-inner {
			backdrop-filter: blur(10px);
			background: rgb(0 0 0 / 0.7);
			border-radius: 0.25rem;
			padding: 0.25rem 0.5rem;
		}
	}
}

.es-custom-slider-current-value {
	font-variant-numeric: tabular-nums;
	user-select: none;

	letter-spacing: -0.025em;
}
