@import '~rc-slider/assets/index.css';

// stylelint-disable number-max-precision

.rc-slider {
	--slider-color-light: var(--es-admin-cool-gray-300);
	--slider-color-dark: var(--es-admin-cool-gray-500);
	--slider-color-active: var(--wp-admin-theme-color, var(--es-admin-accent-color-default));
	--es-custom-slider-col-picker-element-color: linear-gradient(-45deg, var(--es-admin-gray-500), var(--es-admin-gray-200));
}

.rc-slider-dot {
	width: 1px;
	border-radius: 1px;
	border: none;
	background: var(--es-custom-slider-custom-mark-color, var(--slider-color-light));
	margin-left: -0.5px;
	height: 0.45rem;
	bottom: 0.8rem;
}

.rc-slider-dot-active {
	background: var(--es-custom-slider-custom-active-mark-color, var(--slider-color-active));
}

.rc-slider-rail {
	height: 0.25rem;
	background: var(--es-custom-slider-custom-rail-color, var(--slider-color-light));
	border-radius: 0.125rem;
}

.rc-slider-track {
	height: 0.25rem;
	border-radius: 0.125rem;
	background: var(--es-custom-slider-custom-track-color, var(--slider-color-active));
}

.rc-slider-mark {
	top: 1.85rem;
}

.rc-slider-mark-text {
	font-size: 0.75rem;
	color: var(--es-custom-slider-custom-mark-label-color, var(--slider-color-light));

	user-select: none;
}

.rc-slider-mark-text-active {
	color: var(--es-custom-slider-custom-active-mark-label-color, var(--slider-color-dark));
}

.rc-slider-handle {
	border: none;
	width: 0.75rem;
	height: 0.75rem;
	margin-top: -4px;
	background: var(--es-custom-slider-custom-handle-color, var(--slider-color-active));
	box-shadow: none;

	&::after {
		content: '';
		position: absolute;
		width: 1.25rem;
		height: 1.25rem;
		background: var(--es-custom-slider-custom-handle-color, var(--slider-color-active));
		z-index: 0;
		opacity: 0;
		top: -0.25rem;
		left: -0.25rem;
		border-radius: 100rem;
		transform: scale(0.25);

		transition: {
			property: opacity, transform;
			timing-function: ease-out;
			duration: 0.3s;
		}
	}

	&:focus,
	&:active {
		border: none;
		box-shadow: none;
	}

	&:focus::after,
	&:active::after {
		opacity: 0.3;
		transform: scale(1);
	}
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
	box-shadow: none;
}

.rc-slider-with-marks:not(.rc-slider-vertical) {
	padding-top: 1.25rem;
	padding-bottom: calc(var(--es-custom-slider-additional-bottom-padding, 0) * 1rem + 1.5rem);
}

.rc-slider-tooltip {
	margin: 0;
	padding: 0.5rem 0;
}

.rc-slider-tooltip-inner {
	background-color: var(--es-admin-gray-900);
	color: var(--es-admin-pure-white);
	padding: 3px 6px;
	border-radius: 2px;
	font-size: 0.75rem;
	line-height: 1rem;
}

.rc-slider-tooltip-arrow {
	display: none;
}

.rc-slider-disabled {
	background: none;

	.rc-slider-handle {
		pointer-events: none;
		background: var(--slider-color-light);
		cursor: not-allowed;
	}
}

// Vertical slider.

.rc-slider-vertical {
	min-height: 5rem;

	&.rc-slider-with-marks {
		.rc-slider-rail,
		.rc-slider-track {
			border-radius: 0;
		}
	}

	.rc-slider-rail,
	.rc-slider-track {
		width: 0.25rem;
		transform: translateY(-0.06rem);
	}

	.rc-slider-handle {
		margin-left: -0.25rem;
		margin-bottom: -0.125rem;
	}

	.rc-slider-mark {
		left: 1.5rem;
		top: var(--es-custom-slider-vertical-mark-offset, 0.25rem);
	}

	.rc-slider-dot {
		height: 1px;
		width: 0.5rem;
		left: -0.125rem;
		margin-bottom: -0.165rem;
	}

	.rc-slider-dot:first-child,
	.rc-slider-dot:last-child {
		margin-bottom: 0;
	}
}

// Custom styles.

.es-custom-slider-compact-with-marks {
	.rc-slider:not(.rc-slider-vertical),
	.rc-slider.rc-slider-with-marks:not(.rc-slider-vertical) {
		padding-top: 0.5rem;
		padding-bottom: calc(var(--es-custom-slider-additional-bottom-padding, 0) * 1rem + 1.6rem);
	}

	.rc-slider-dot {
		height: 0.75rem;
		bottom: -0.25rem;
	}

	.rc-slider-rail,
	.rc-slider-track {
		border-radius: 0;
	}

	.rc-slider-mark {
		top: 1.25rem;
	}
}

.es-custom-slider-compact-with-dots {
	.rc-slider:not(.rc-slider-vertical),
	.rc-slider.rc-slider-with-marks:not(.rc-slider-vertical) {
		padding-top: 0.5rem;
		padding-bottom: calc(var(--es-custom-slider-additional-bottom-padding, 0) * 1rem + 0.75rem);
	}

	.rc-slider-dot {
		height: 0.75rem;
		bottom: -0.25rem;
	}

	.rc-slider-rail,
	.rc-slider-track {
		border-radius: 0;
	}
}

.es-custom-slider-vertical-labels {
	.rc-slider-mark-text {
		writing-mode: vertical-lr;
		margin-top: 3px;
	}
}

.es-custom-slider-number-strip {
	.rc-slider {
		height: 2rem;
	}

	.rc-slider-rail {
		height: 1.75rem;
		bottom: -0.125rem;
		background: none;
		border: 1px solid var(--es-admin-gray-200);
		border-radius: 100rem;
	}

	.rc-slider-track,
	.rc-slider-step {
		display: none;
	}

	.rc-slider-handle {
		width: 1.25rem;
		height: 1.25rem;
		background: none;
		margin: -0.375rem 0 0;
		border-width: 2px;
		border-color: var(--slider-color-active);
		bottom: 0.125rem;
		margin-left: 0;
	}

	.rc-slider-mark-text,
	.rc-slider-mark-text-active {
		color: var(--slider-color-dark);
		bottom: -0.75rem;
	}

	.rc-slider-mark {
		width: calc(100% - 1.75rem);
		transform: translateX(0.875rem);
	}
}

.es-custom-slider-inline-label {
	flex-shrink: 0;
	margin-right: 0.5rem;
	margin-bottom: 0;
}

.es-custom-slider-container {
	display: flex;
	gap: 1rem;
	align-items: center;
	width: calc(100% - 1rem);
	margin-left: 0.75rem;

	.components-base-control {
		flex-basis: 50%;
	}

	.components-base-control,
	.components-base-control__field {
		// stylelint-disable-next-line declaration-no-important
		margin-bottom: 0 !important;
	}
}

.es-custom-slider-current-value {
	font-variant-numeric: tabular-nums;
	user-select: none;

	text-align: end;
	letter-spacing: -0.025em;

	width: calc(var(--es-custom-slider-value-display-width, 3) * 1ch);
}

.es-custom-slider-column-picker {
	.rc-slider {
		padding-top: 1.5rem;
		padding-bottom: 0.5rem;
		margin-bottom: 1.25rem;
	}

	.rc-slider-track {
		height: 2.75rem;
		border-radius: 0.125rem;
		background: var(--es-custom-slider-col-picker-element-color);
		bottom: -1.25rem;
		transform-origin: center center;
		opacity: 0.6;
	}

	.rc-slider-rail {
		height: 3rem;
		background: transparent;
		border-radius: 0.25rem;
		bottom: -1.4rem;
		border: 1px solid var(--es-admin-gray-200);
		width: calc(100% + 0.25rem);
		transform: translateX(-0.125rem);
	}

	.rc-slider-dot {
		height: 2.5rem;
		bottom: -2.5rem;
		border-radius: 1rem;
		background: rgb(20 20 20 / 0.2); // stylelint-disable-line alpha-value-notation
	}

	.rc-slider-dot:first-child,
	.rc-slider-dot:last-child {
		display: none;
	}

	.rc-slider-with-marks {
		.rc-slider-handle {
			margin-top: 0.05rem;
		}

		.rc-slider-dot {
			bottom: -1.4rem;
		}

		.rc-slider-mark {
			top: 3.4rem;
		}

		.rc-slider-track {
			bottom: -1.3rem;
		}

		.rc-slider-mark-text {
			font-size: 0.65rem;
		}
	}
}

.es-custom-slider-column-picker-with-dots,
.es-custom-slider-column-picker-with-dots .rc-slider-with-marks {
	.rc-slider-dot {
		height: 2.5rem;
		bottom: -2.5rem;
		border-radius: 1rem;
	}

	.rc-slider-handle {
		margin-top: 0.05rem;
	}

	.rc-slider-track {
		bottom: -1.3rem;
	}

	.rc-slider-mark {
		display: none;
	}
}

.rd-slider-mark-offset {
	.rc-slider-mark-text {
		margin-left: 0.9em;
	}
}

.rd-slider-mark-offset-fullwidth {
	.rc-slider-mark-text {
		margin-left: 0.8em;
	}
}

@for $i from 1 through 70 {
	.rd-slider-mark-ignore-#{$i} {
		.rc-slider-mark-text:nth-of-type(#{$i}) {
			--es-custom-slider-custom-active-mark-label-color: #999999;
			opacity: 0.4;
		}
	}

	.rd-slider-line-ignore-#{$i} {
		.rc-slider-dot:nth-of-type(#{$i}) {
			display: none;
		}
	}
}

.rd-no-offset-handle .rc-slider-handle.rc-slider-handle-1,
.rd-no-width-handle .rc-slider-handle.rc-slider-handle-2 {
	display: none;
	pointer-events: none;
	user-select: none;
}

.rd-no-offset-handle,
.rd-no-width-handle {
	.rc-slider-step,
	.rc-slider-dot,
	.rc-slider-mark,
	.rc-slider-mark-text {
		pointer-events: none;
	}
}
