@import '~rc-slider/assets/index';
@import '~rc-tooltip/assets/bootstrap';

.es-custom-slider {
	&__tooltip {
		.rc-tooltip-inner {
			backdrop-filter: blur(10px);
			background: rgb(0 0 0 / 0.7);
			border-radius: 0.25rem;
			padding: 0.25rem 0.5rem;
		}
	}
}

.es-custom-slider-current-value {
	font-variant-numeric: tabular-nums;
	user-select: none;

	letter-spacing: -0.025em;
}

// stylelint-disable declaration-no-important
.es-col-config-slider {
	height: 52px !important;
	background: none !important;
	padding: 0 !important;

	.rc-slider-mark-text {
		transform: translateX(0) !important;
		position: static !important;
	}

	.rc-slider-mark {
		display: grid;
		grid-auto-columns: 1fr;
		grid-auto-flow: column;
		place-items: center;
		top: 22px;
		pointer-events: none !important;
	}

	.rc-slider-dot {
		bottom: -44px !important;
	}

	.rc-slider-handle {
		margin-top: 16px !important;
	}
}
