$lists: (
	colors: global-settings(colors),
	sizes: (
		mobile: (
			default: (
				font-size: 0.9em,
				line-height: 1.56,
			),
			small: (
				font-size: 0.7em,
				line-height: 1,
			),
		),
		large: (
			default: (
				font-size: 1.1em,
			),
			small: (
				font-size: 0.9em,
			),
		),
	),
);

.lists {
	margin: 0;
	padding: 0;
	color: map-get-deep($lists, colors, primary);

	li {
		margin-left: 1.1em;
	}

	&__color {
		@include modifiers-deep($lists, colors, color);
	}

	&__size {
		@include responsive-modifiers($lists, sizes);
	}

	&__align {
		@include text-align-modifiers;
	}
}
