// Define Base Columns Number.
$base-col-number: 12 !default;

// Define Base Gutter Size.
$base-gutter-size: 25px !default;

// Define Base Font Size.
$base-font-size: 18px !default;

// Define Base Font Family.
$base-font-family: 'Open Sans', Arial, sans-serif !default;

// Default Container Width.
$base-container-size: 1330px !default;

// Default header height - used for setting both header & logo sizes.
$base-header-height: 50px;
