.search-bar {
	position: relative;
	height: 100%;
	padding: 0.5em 0.75em;
	display: flex;
	align-items: center;

	&__label {
		margin-right: 0.75em;

		&--hidden {
			  @extend %visually-hidden;
		}
	}

	&__input {
		border-radius: 2.5em;
		font-size: 0.7em;
		font-weight: 500;
		padding: 0.25em 1em;
		border-width: 0.05em;
	}
}
