.search-bar {
	position: relative;
	height: 100%;
	padding: 10px 15px;
	display: flex;
	align-items: center;

	&__label {
		margin-right: 15px;

		&--hidden {
			  @extend %visually-hidden;
		}
	}

	&__input {
		border-radius: 50px;
		font-size: 14px;
		font-weight: 500;
		padding: 5px 20px;
		border-width: 1px;
	}
}
