// stylelint-disable number-max-precision, selector-max-specificity, declaration-no-important, max-nesting-depth

@import './es-keyframes';
@import '../scripts/components/advanced-color-picker/advanced-color-picker';
@import '../scripts/components/custom-slider/custom-slider';
@import '../scripts/components/link-edit-component/link-edit-component';
@import '../scripts/components/help-modal/help-modal';
@import '../scripts/components/icon-toggle/icon-toggle';
@import '../scripts/components/component-use-toggle/component-use-toggle';
@import '../scripts/components/custom-select/custom-select';
@import '../scripts/components/color-picker-component/color-picker-component';
@import '../scripts/components/inline-notification/inline-notification';
@import '../scripts/components/simple-horizontal-single-select/simple-horizontal-single-select';
@import '../scripts/components/simple-vertical-single-select/simple-vertical-single-select';
@import '../scripts/components/server-side-render/server-side-render';
@import '../scripts/components/collapsable-component-use-toggle/collapsable-component-use-toggle';
@import '../scripts/components/fancy-divider/fancy-divider';
@import '../scripts/components/collapsable/collapsable';
@import '../scripts/components/color-palette-custom/color-palette-custom';
@import '../scripts/components/compact-responsive/compact-responsive';

:root {
	// Colors
	--es-admin-accent-color-default: #194BD4;
	--es-admin-pure-white: #FFFFFF;
	--es-admin-pure-black: #000000;
	--es-admin-gray-50: #FAFAFA;
	--es-admin-gray-100: #F7F7F7;
	--es-admin-gray-200: #F0F0F0;
	--es-admin-gray-250: #EBEBEB;
	--es-admin-gray-300: #E6E6E6;
	--es-admin-gray-500: #AAAAAA;
	--es-admin-gray-600: #A0A0A0;
	--es-admin-gray-700: #888888;
	--es-admin-gray-750: #757575;
	--es-admin-gray-800: #777777;
	--es-admin-gray-850: #333333;
	--es-admin-gray-900: #1E1E1E;
	--es-admin-gray-950: #111111;
	--es-admin-red-500: #CF2E2E;
	--es-admin-on-red-500: #FFFFFF;
	--es-admin-yellow-500: #FF6900;
	--es-admin-on-yellow-500: #212121;
	--es-admin-green-500: #4CAF50;
	--es-admin-on-green-500: #FFFFFF;
	--es-admin-blue-500: #0693E3;
	--es-admin-on-blue-500: #FFFFFF;
	--es-admin-blue-gray-50: #ECEFF1;
	--es-admin-on-blue-gray-50: #263238;
	--es-admin-cool-gray-900: #D7DADE;
	--es-admin-cool-gray-500: #6C7781;
	--es-admin-eightshift-50: #F8FFFF;
	--es-admin-eightshift-500: #0D3636;

	// Eases
	--es-admin-ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
}

body {
	// Full width button.
	.custom-full-width-button {
		width: 100%;
		justify-content: center;
	}

	// Custom divider.
	.custom-divider {
		width: 100%;
		height: 1px;
		background-color: var(--es-admin-custom-divider, var(--es-admin-gray-400));
		margin: 10px 0;
	}

	// Highlighted panel
	.custom-highlighted-panel {
		background-color: var(--es-admin-custom-highlighted-panel, var(--es-admin-gray-100));
	}

	// Panel body title with icon in front.
	// Must have the title wrapped in a <span>!
	.es-panel-title {
		> .components-panel__body-title {
			> .components-panel__body-toggle {
				display: flex;
				align-items: center;
				flex-direction: row-reverse !important;
				gap: 0.5rem;

				span {
					margin-right: auto !important;
				}

				svg:not(span svg) {
					margin: 0 !important;
					color: var(--es-admin-panel-title, var(--es-admin-gray-750));
					height: 1.25rem !important;
					width: 1.25rem !important;
				}
			}
		}

		i {
			line-height: 0;
		}
	}

	// Panel body without title.
	.es-panel-standalone {
		.components-base-control.components-toggle-control {
			margin-bottom: 0;

			.components-base-control__field {
				margin-bottom: 0;
			}
		}
	}

	// Updated Placeholder component styles.
	.components-placeholder {
		.es-placeholder-input-flex {
			display: flex;
			flex-wrap: nowrap;
			gap: 0.5rem;
			width: 100%;

			.components-input-control {
				max-width: 19rem;
			}
		}
	}

	// Input error text style.
	.es-input-error {
		color: var(--es-admin-input-error, var(--es-admin-red-500));
		font-size: 0.85rem;
		font-weight: 500;
	}

	// Simple button row/toolbar.
	.es-simple-editor-button-row {
		display: flex;
		gap: 0.5rem;
		margin-bottom: 0.5rem;
	}

	// Match WP button size to WP input field height.
	.es-input-matched-button-size {
		min-height: 1.875rem !important;
		min-width: 1.875rem !important;
		height: 1.875rem !important;
		width: 1.875rem !important;
	}

	// Remove outline on WP buttons (e.g. when using 'isDestructive' when you want no border).
	.es-button-no-outline {
		box-shadow: inset 0 0 0 1px transparent !important;
	}

	// Decorative/unselectable text.
	.es-decorative-text {
		opacity: 0.6;
		user-select: none;
	}

	// Fix fancy use toggle spacing.
	.es-panel-text-divider.es-icon-toggle.es-icon-toggle--reverse {
		& > .components-base-control__field {
			margin-bottom: 0.2rem;
		}
	}

	// Style for labels which are not contained inside BaseControl.
	.es-label-flex {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		svg {
			height: 1.5rem !important;
			width: 1.5rem !important;
			margin: 0 !important;
			flex-shrink: 0;

			&:not(button svg) {
				color: var(--es-admin-label-flex-svg, var(--wp-admin-theme-color, var(--es-admin-accent-color-default)));
			}
		}
	}

	// Add this class to any custom Responsive sub-element that should be inset when not expanded.
	.es-responsive-inset {} // stylelint-disable-line

	// PanelBody title muted text.
	.es-panel-body-muted {
		font-weight: normal;
		opacity: 0.6;
	}

	// Custom popover content.
	.es-popover-content {
		padding: 1rem;
		min-width: 16rem;
	}

	// Slight border for default buttons if needed.
	.es-slight-button-border:not(.is-pressed) {
		box-shadow: inset 0 0 0 1px  var(--es-admin-slight-button-border, var(--es-admin-gray-200));
	}

	// Ability to make BaseControl inline.
	.es-inline-base-control {
		> .components-base-control__field {
			display: flex;
			justify-content: space-between;
			align-items: center;
			column-gap: 1rem;

			> .components-base-control__label {
				width: var(--es-inline-base-control-label-width, max-content) !important;
				max-width: 45%;
				margin: 0 !important;
			}

			> *:not(:first-child) {
				flex-shrink: 0;
				flex-grow: 1;
				max-width: var(--es-inline-base-control-content-width, auto);
			}
		}

		&--no-bottom-space {
			margin-bottom: 0 !important;
		}
	}

	// Supporting class for animated toggle icon.
	.es-animated-toggle-icon {
		.es-toggle-icon-thumb,
		.es-toggle-icon-container {
			--transition-duration: 0.25s;
			--transition-timing-function-basic: ease-out;
			--transition-timing-function-transform: var(--es-admin-ease-out-cubic);

			/* stylelint-disable declaration-colon-newline-after */
			transition: fill var(--transition-duration) var(--transition-timing-function-basic),
				fill-opacity var(--transition-duration) var(--transition-timing-function-basic),
				stroke var(--transition-duration) var(--transition-timing-function-basic),
				stroke-opacity var(--transition-duration) var(--transition-timing-function-basic),
				transform var(--transition-duration) var(--transition-timing-function-transform);
			/* stylelint-enable declaration-colon-newline-after */

			@media (prefers-reduced-motion) {
				--transition-duration: 0.01s;
				--transition-timing-function-basic: linear;
				--transition-timing-function-transform: linear;
			}
		}

		&.is-checked {
			.es-toggle-icon-thumb {
				// This should always be white.
				--es-toggle-icon-thumb-stroke: var(--es-admin-pure-white);
				--es-toggle-icon-thumb-fill: var(--es-admin-pure-white);
				--es-toggle-icon-thumb-fill-opacity: 1;

				transform: translateX(0.5rem);
			}

			.es-toggle-icon-container {
				--es-toggle-icon-container-stroke: var(--wp-admin-theme-color, var(--es-admin-accent-color-default));
				--es-toggle-icon-container-fill: var(--wp-admin-theme-color, var(--es-admin-accent-color-default));
				--es-toggle-icon-container-fill-opacity: 1;
			}
		}
	}
}

// stylelint-enable number-max-precision, selector-max-specificity, declaration-no-important, max-nesting-depth
