// Config.
@import 'scss/colors';

// Config.
@import 'scss/core';

// Functions all.
@import 'scss/functions/all';

// Placeholders all.
@import 'scss/placeholders/all';

// Mixins all.
@import 'scss/mixins/all';
