/*
 * Setting up overrides for default editor styles.
 *
*/

// stylelint-disable number-max-precision

$base-sea-color: #F5F5F5;
$base-silver-color: #D4D1D1;
$base-error-color: #CC1818;

$override-map: (
	highlighted-panel: $base-sea-color,
	divider: $base-silver-color,
	hover: $base-black-color,
);

/* stylelint-disable */
// Overrides default styles from inline editor.
body {
	.editor-styles-wrapper {
		font-family: inherit;
		line-height: inherit;
		font-size: inherit;
		color: inherit;
	}

	// Moving border around the block to the actual block line.
	.block-editor-block-list__layout {
		.#{global-settings(customBlocksName)} {
			&.wp-block {
				max-width: 100%;
				transition: {
					property: box-shadow;
					timing-function: ease-in;
					duration: 0.15s;
				}

				&:hover {
					box-shadow: 0 0 3px rgba(map-get-strict($override-map, hover), 0.3);
				}
			}

			// Removing block spacing.
			[data-block] {
				margin-top: 0;
				margin-bottom: 0;
			}

			&.block-editor-block-list__block {
				max-width: none;

				// Move plus sign for adding new block before selected block to the right.
				& > .block-editor-block-list__insertion-point {
					left: auto;
					right: 0;
					width: 50px;
					top: 0;
				}

				// Remove border padding line over the block.
				.block-editor-block-list__block-edit::before {
					top: 0;
					bottom: 0;
				}
			}
		}

		.block-editor-block-list__block.is-reusable {
			max-width: none;
		}
	}

	// // Add new block button fix width if it is flex.
	.block-list-appender {
		width: 100%;
	}

	// Spread sidebar default input to full width.
	.edit-post-sidebar {
		.block-editor-url-input input[type='text'] {
			width: 100%;
		}
	}

	// Bump edit-post-sidebar__panel-tabs z-index.
	.edit-post-sidebar__panel-tabs {
		z-index: 2 !important;
	}

	// Aligning image and text vertically.
	.components-base-control {
		.components-select-control__input[multiple] {
			min-height: 70px;
		}
	}

	// Hack for storybook.
	.components-range-control__slider {
		min-width: 1px;
	}

	.components-panel__body-toggle.components-button .components-panel__arrow {
		width: 1.5rem;
		height: 1.5rem;
	}

	// Adding space between ColorSwatches and label
	.components-circular-option-picker .components-circular-option-picker__swatches {
		margin-top: 0.5rem;
	}

	// Fix label styling and stylize SVGs
	.components-base-control__label,
	.components-input-control__label {
		display: flex !important;
		align-items: center;
		width: 100%;
		height: 100%;
		min-height: 2rem;
		margin-bottom: 0.3rem;
		line-height: 1;
		gap: 0.5rem;
		border-bottom: 1px solid transparent;
		transition: 0.3s padding ease-out, 0.3s margin ease-out;

		svg {
			height: 1.5rem !important;
			width: 1.5rem !important;
			margin: 0 !important;

			&:not(button svg) {
				color: var(--wp-admin-theme-color, #111111);
			}
		}

		button {
			margin-left: auto !important;
		}
	}

	.components-toggle-control__label {
		margin-bottom: 0 !important;
	}

	.custom-full-width-btn {
		width: 100%;
		text-align: center;
		justify-content: center;
	}

	// Fix for disabled button icon foregrounds and backgrounds.
	button[disabled] .block-editor-block-icon.has-colors,
	.components-button.components-toolbar-button.block-editor-block-parent-selector__button.has-icon
		.block-editor-block-icon {
		background-color: var(--eightshift-block-icon-background, transparent) !important;
		color: var(--eightshift-block-icon-foreground, #333333) !important;
		opacity: 1 !important;
	}

	.components-button.block-editor-block-switcher__no-switcher-icon:disabled .block-editor-block-icon.has-colors {
		color: var(--eightshift-block-icon-foreground, #333333) !important;
	}

	// Enlarge the icons in the Options panel a bit.
	.block-editor-block-card .block-editor-block-icon {
		height: 2.5rem !important;
		min-height: 2.5rem !important;
		max-height: 2.5rem !important;
		width: 2.5rem !important;
		min-width: 2.5rem !important;
		max-width: 2.5rem !important;
		border-radius: 4px;
		flex-shrink: 0;
		flex-grow: 1;

		svg {
			transform: scale(1.25);
		}
	}

	// Enlarge the icons in the toolbar a bit.
	button[disabled] .block-editor-block-icon.has-colors,
	.components-button.components-toolbar-button.block-editor-block-parent-selector__button.has-icon
	.block-editor-block-icon,
	.block-editor-block-toolbar__block-controls
	.block-editor-block-switcher
	.components-dropdown-menu__toggle
	.block-editor-block-icon {
		height: 1.75rem !important;
		width: 1.75rem !important;
		border-radius: 4px;

		svg {
			transform: scale(1.1);
		}
	}

	.components-accessible-toolbar .components-toolbar-group > .components-button.components-button.has-icon svg {
		min-width: unset !important;
	}

	// Enlarge icon in component menu.
	.components-menu-item__item .block-editor-block-icon {
		height: 1.75rem !important;
		width: 1.75rem !important;
		border-radius: 4px;
	}

	// Fix some toolbar icons not having the right styling.
	button[disabled].components-button.components-toolbar__control.block-editor-block-switcher__no-switcher-icon.has-icon {
		.block-editor-block-icon {
			height: 1.75rem !important;
			width: 1.75rem !important;
			border-radius: 4px;

			svg {
				width: 1.25rem;
				height: 1.25rem;
				transform: scale(1.1) translateX(2px);
			}
		}
	}

	button.components-button.components-toolbar__control.block-editor-block-parent-selector__button.has-icon {
		.block-editor-block-icon {
			height: 1.75rem !important;
			width: 1.75rem !important;
			border-radius: 3px;
			background-color: var(--eightshift-block-icon-background, transparent) !important;
			color: var(--eightshift-block-icon-foreground, #333333) !important;

			svg {
				width: 1.25rem;
				height: 1.25rem;
				transform: scale(1.1);
			}
		}
	}

	// Make sure toolbar icon size matches regardless of icon source.
	.block-editor-block-toolbar__slot {
		.components-toolbar-group {
			.components-toolbar-button.has-icon {
				i {
					line-height: 0;
				}

				svg {
					height: 1.4rem;
					width: 1.4rem;
				}
			}
		}
	}

	// Updated Placeholder component styles.
	.components-placeholder {
		&__label {
			i {
				margin-right: 0.4rem;
			}
		}

		&.is-large {
			box-shadow: inset 0 0 0 1px #E0E0E0;
			border-radius: 4px;
			min-height: 0;

			.components-placeholder__label {
				svg {
					height: 1.5rem;
					width: 1.5rem;
				}
			}

			.components-placeholder__fieldset {
				width: 100%;
			}
		}

		&.is-medium,
		&.is-small {
			padding: 1rem;
			box-shadow: inset 0 0 0 1px #E0E0E0;
			min-height: 0 !important;
			border-radius: 4px;

			.components-placeholder__label {
				svg {
					height: 1.25rem;
					width: 1.25rem;
				}
			}

			.components-placeholder__fieldset {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				gap: 0.75rem;
			}

			.block-editor-media-placeholder__upload-button {
				margin-bottom: 0 !important;
			}
		}

		.es-placeholder-input-flex {
			display: flex;
			flex-wrap: nowrap;
			gap: 0.5rem;
			width: 100%;

			.components-input-control {
				max-width: 19rem;
			}
		}
	}

	// Styles for making empty block placeholders visible and usable (especially in Columns).
	.block-editor-block-list__layout {
		height: 100%;

		// If it's empty.
		&:empty {
			height: 100%;
			min-height: 4rem;
			border-radius: 8px;
			border: 1px dashed hsl(0, 0%, 90%);
		}

		// If it has one child, expand the expander to fill everything.
		// (aka when empty InnerBlocks is clicked and only has the appender)
		.block-list-appender.wp-block:only-child {
			height: 100%;

			.components-dropdown.block-editor-inserter {
				border-radius: 8px;
				border: 1px dashed hsl(0, 0%, 90%);
				height: 100%;

				.block-list-appender__toggle.block-editor-button-block-appender {
					min-height: 4rem;
					width: 100%;
					height: 100%;
					border-radius: 8px;
				}
			}
		}

		// Resize the appender when it's not the only child
		// to make it easier to hit.
		.block-list-appender.wp-block:not(:only-child) {
			.block-list-appender__toggle.block-editor-button-block-appender {
				width: 100%;
				height: 100%;
			}
		}
	}

	// Resize InnerBlocks container to fit.
	.block-editor-inner-blocks {
		height: 100%;
	}

	// Center the default [+] inserter.
	.block-editor-inserter {
		display: flex !important;
		align-items: center;
		justify-content: center;
	}

	// Popover rounded corners.
	.components-popover__content {
		border-radius: 6px !important;
	}

	// Fix for inserter corners looking weird with rounded popovers.
	.block-editor-inserter__quick-inserter .block-editor-inserter__search {
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}

	// Fix for scrollbar overflow.
	@supports (scrollbar-gutter: stable) {
		.interface-interface-skeleton__sidebar {
			scrollbar-gutter: stable;
		}
	}
		
	@supports not (scrollbar-gutter: stable) {
		.interface-interface-skeleton__sidebar {
			overflow-x: hidden;
		}
	}

	// Gutenberg 'Animate' component 'slide-in' animation top/bottom direction polyfill.
	.components-animate__slide-in.is-from-top {
		animation: components-animate__slide-in-y-animation 0.1s cubic-bezier(0, 0, 0.2, 1);
		animation-fill-mode: forwards;
	
		transform: translateY(+1rem);
	}
	
	.components-animate__slide-in.is-from-bottom {
		animation: components-animate__slide-in-y-animation 0.1s cubic-bezier(0, 0, 0.2, 1);
		animation-fill-mode: forwards;
	
		transform: translateY(-1rem);
	}

	@media (prefers-reduced-motion) {
		.components-animate__slide-in.is-from-top,
		.components-animate__slide-in.is-from-bottom {
			animation-duration: 1ms;
		}
	}

	// Fix disabled button showing hover state.
	.components-button[disabled]:hover {
		color: currentColor !important;
	}
}

// WP 5.9 fixes.
body.branch-5-9 {
	// Fix range slider looking broken when markings are enabled.
	.components-range-control__marks {
		top: 13px !important;
	}
}

@import './es-utility-classes.scss';
@import './es-component-styles.scss';
