// Overrides and fixes of default Gutenberg styles.

// stylelint-disable
body {
	.editor-styles-wrapper {
		font-family: inherit;
		line-height: inherit;
		font-size: inherit;
		color: inherit;
	}

	// Moving border around the block to the actual block line.
	.block-editor-block-list__layout {
		.#{global-settings(customBlocksName)} {
			&.wp-block {
				max-width: 100%;
				transition: {
					property: box-shadow;
					timing-function: ease-in;
					duration: 0.15s;
				}

				&:hover {
					box-shadow: 0 0 3px var(--es-admin-block-hover-shadow, rgb(0 0 0 / 0.3));
				}
			}

			&.block-editor-block-list__block {
				max-width: none;

				// Move plus sign for adding new block before selected block to the right.
				& > .block-editor-block-list__insertion-point {
					left: auto;
					right: 0;
					width: 50px;
					top: 0;
				}

				// Remove border padding line over the block.
				.block-editor-block-list__block-edit::before {
					top: 0;
					bottom: 0;
				}
			}
		}

		.block-editor-block-list__block.is-reusable {
			max-width: none;
		}
	}

	// Bump edit-post-sidebar__panel-tabs z-index.
	.edit-post-sidebar__panel-tabs {
		z-index: 2 !important;
	}

	// Fix for disabled button icon foregrounds and backgrounds.
	button[disabled] .block-editor-block-icon.has-colors,
	.components-button.components-toolbar-button.block-editor-block-parent-selector__button.has-icon
		.block-editor-block-icon {
		background-color: var(--es-admin-block-icon-background, transparent) !important;
		color: var(--es-admin-block-icon-foreground, var(--es-admin-pure-black)) !important;
		opacity: 1 !important;
		aspect-ratio: 1;
		line-height: 0;
	}

	.components-button.block-editor-block-switcher__no-switcher-icon:disabled .block-editor-block-icon.has-colors {
		color: var(--es-admin-block-icon-foreground, var(--es-admin-pure-black)) !important;
	}

	// Fix some toolbar icons not having the right styling.
	button[disabled].components-button.components-toolbar__control.block-editor-block-switcher__no-switcher-icon.has-icon {
		.block-editor-block-icon {
			height: 1.75rem !important;
			width: 1.75rem !important;
			border-radius: var(--es-component-border-radius-md);
			line-height: 0;

			svg {
				width: 1.25rem;
				height: 1.25rem;
				transform: translateX(2px);
			}
		}
	}

	button.components-button.components-toolbar__control.block-editor-block-parent-selector__button.has-icon {
		.block-editor-block-icon {
			height: 1.75rem !important;
			width: 1.75rem !important;
			border-radius: var(--es-component-border-radius-md);
			background-color: var(--es-admin-block-icon-background, transparent) !important;
			color: var(--es-admin-block-icon-foreground, var(--es-admin-gray-850)) !important;
			line-height: 0;

			svg {
				width: 1.25rem;
				height: 1.25rem;
			}
		}
	}

	// Make sure toolbar icon size matches regardless of icon source.
	.block-editor-block-toolbar__slot {
		.components-toolbar-group {
			.components-toolbar-button.has-icon {
				i {
					line-height: 0;
				}

				svg {
					height: 1.4rem;
					width: 1.4rem;
				}
			}
		}
	}

	// Fix for scrollbar overflow.
	@supports (scrollbar-gutter: stable) {
		.interface-interface-skeleton__sidebar {
			scrollbar-gutter: stable;
		}
	}

	@supports not (scrollbar-gutter: stable) {
		.interface-interface-skeleton__sidebar {
			overflow-x: hidden;
		}
	}

	// Fix disabled button showing hover state.
	.components-button[disabled]:hover {
		color: currentColor !important;
	}

	// Gutenberg 'Animate' component 'slide-in' animation top/bottom direction polyfill.
	.components-animate__slide-in.is-from-top {
		animation: components-animate__slide-in-y-animation 0.1s cubic-bezier(0, 0, 0.2, 1);
		animation-fill-mode: forwards;

		transform: translateY(+1rem);
	}

	.components-animate__slide-in.is-from-bottom {
		animation: components-animate__slide-in-y-animation 0.1s cubic-bezier(0, 0, 0.2, 1);
		animation-fill-mode: forwards;

		transform: translateY(-1rem);
	}

	@media (prefers-reduced-motion) {
		.components-animate__slide-in.is-from-top,
		.components-animate__slide-in.is-from-bottom {
			animation-duration: 1ms;
		}
	}

	// Slightly widen the sidebar.
	// Breakpoint is the exact one from Gutenberg.
	@media (min-width: 782px) {
		.interface-complementary-area {
			width: 19rem;
		}
	}
}

// ES enhancements and Gutenberg component tweaks.
@import './es-gutenberg-editor-ui-enhancements.scss';
@import './es-gutenberg-component-style-updates.scss';

// WP-version-specific fixes
@import './wp-version-specific/wp-6-1';
@import './wp-version-specific/wp-6-2';

@import './es-utility-classes.scss';
@import './es-component-styles.scss';
