// stylelint-disable max-nesting-depth
$block-services-grid: (
  title: (
    mobile: (
      font-size: 36px,
      line-height: 1.11,
      font-weight: bold,
    ),
    large: (
      font-size: 50px,
      line-height: 1.04,
    ),
  ),
  spacing: (
    mobile: (
      bottom: 60px,
    ),
    tablet: (
      vertical: 20px,
      bottom: 100px,
    )
  )
);

.block-services-grid {
  $this: &;
  overflow: hidden;
  margin-bottom: -(map-get-deep($block-services-grid, spacing, mobile, bottom));

  @include media(tablet up) {
    display: flex;
    justify-content: space-between;
  }

  &__content,
  .editor-block-list__layout {
    @include media(tablet up) {
      display: flex;
      flex-wrap: wrap;
      margin: {
        left: -(map-get-deep($block-services-grid, spacing, tablet, vertical));
        right: -(map-get-deep($block-services-grid, spacing, tablet, vertical));
      }
    }

    > .block-service-box,
    > .wp-block {
      @include media(tablet up) {
        @include flex-grid-width(4);
      }
      @include media(tablet up) {
        padding: {
          left: map-get-deep($block-services-grid, spacing, tablet, vertical);
          right: map-get-deep($block-services-grid, spacing, tablet, vertical);
        }
      }
      margin: {
        left: 0;
        right: 0;
        bottom: map-get-deep($block-services-grid, spacing, mobile, bottom);
      }

      @include media(tablet up) {
        margin-bottom: map-get-deep($block-services-grid, spacing, tablet, bottom);
      }
    }
  }
}
