.btn {
	padding: 0;
	border: 0;
	appearance: none;
	position: relative;
	display: var(--button-display);
	align-items: center;
	justify-content: center;
	text-decoration: none;
	padding: var(--button-padding-vertical, 0.6em) var(--button-padding-horizontal, 2.5em);
	font-weight: bold;
	text-align: center;
	cursor: var(--button-cursor, pointer);
	border-radius: var(--button-border-radius, 5rem);
	opacity: var(--button-opacity);
	transition: {
		property: background-color, color, border-color;
		timing-function: ease-in;
		duration: 0.3s;
	}
	color: var(--button-scoped-color, var(--button-color));
	background-color: var(--button-scoped-background-color, var(--button-background-color));
	width: var(--button-width);
	font-size: var(--button-font-size);
	line-height: var(--button-line-height);

	&:hover {
		--button-scoped-color: var(--button-color-hover);
		--button-scoped-background-color: var(--button-background-color-hover);
	}

	&:disabled {
		--button-scoped-background-color: var(--global-colors-light);
		--button-cursor: not-allowed;
	}
}
