.block-columns {
	display: block;
	width: 100%;

	& > .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: grid;
		grid-template-columns: repeat(var(--global-max-cols), 1fr);
		column-gap: var(--columns-gutter, var(--global-gutters-default, 0));
		row-gap: var(--columns-vertical-spacing, 0);
	}
}
