// stylelint-disable declaration-no-important

.block-columns {
  display: block;

  .editor-block-list__block-edit {
    margin: 0 !important;
  }

  .editor-block-list__layout {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .wp-block {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
