.block-columns {

	display: grid;
	grid-template-columns: var(--wrapper-grid-template-columns);
	column-gap: var(--columns-column-gap, var(--global-grid-gutter));
	row-gap: var(--columns-row-gap, 0);
}
