// stylelint-disable declaration-no-important, selector-max-specificity

.es-option-selector {
	@each $name, $value in $es-spacings {
		.es-option-selector-max-w-#{$name} & {
			max-width: #{$value} !important;
		}
	}

	&.has-inset-border {
		.components-button {
			&:first-child {
				border-top-right-radius: 0 !important;
				border-bottom-right-radius: 0 !important;
			}

			&:last-child {
				border-top-left-radius: 0 !important;
				border-bottom-left-radius: 0 !important;
			}

			&:not(:first-child):not(:last-child) {
				border-radius: 0 !important;
			}

			&:not(:last-child) {
				margin-right: -1px;
			}

			&:not(:focus):not(.is-pressed) {
				box-shadow: inset 0 0 0 1px currentColor;
			}
		}
	}

	&.has-offset-border {
		.components-button {
			border-radius: 3px !important;
		}
	}

	.components-button {
		@include es-v2-gutenberg-button-active-state;
	}
}

// stylelint-enable declaration-no-important, selector-max-specificity
